/*	
#advice-banner{
	background-image:url('/img/advice/index/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/index/banner.jpg');
		}
	}
}

#causes-banner{
	background-image:url('/img/advice/causes/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/causes/banner.jpg');
		}
	}
}

#symptoms-banner{
	background-image:url('/img/advice/symptoms/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/symptoms/banner.jpg');
		}
	}
}

#treatment-banner{
	background-image:url('/img/advice/treatment/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/treatment/banner.jpg');
		}
	}
}

#prevention-banner{
	background-image:url('/img/advice/prevention/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/prevention/banner.jpg');
		}
	}
}
*/

.btn{
	&.view-range{
		margin-bottom:1.5em;
		width:270px;
	}
}