// Fonts
@import 'MyFontsWebfontsKit';

/* $bodyHelvetica : helvetica,san-serif; */
$bodyHelvetica : HelveticaLTWXX-Roman;
$bodyHelveticaBold : HelveticaLTWXX-Bold;

// Variables
@import 'variables';
@import 'mixin';
@import 'css-animation';
@import 'slick';

// Bootstrap
// adds 180Kb to output css file size, only used for main nav and carousel
// @import '~bootstrap/scss/bootstrap';

/* -------------------------- */
/* cut down bootstrap CSS file from 180kb to 30 kb */
@import 'mini-bootstrap';

/* -------------------------- */

html
{
	overflow:hidden;
	height:100%;
}
body
{
	position:relative;
	overflow-y:scroll;
	height:100%;
	-webkit-overflow-scrolling:touch; /* So iOS Safari gets the inertia & rubber-band effect */
	margin:0;
	padding:0;
	background-color:$body-bg;
	font-family: $bodyHelvetica;
}

.boundary{
	width:100%;
	max-width:$max-width;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	position:relative;
}

.HelveticaLTWXX-Roman { 
	font-family: $bodyHelvetica;
}
.OceanSansMTStd-Bold { 
	font-family: OceanSansMTStd-Bold;
}

h1,h2,h3,h4{
	font-family: OceanSansMTStd-Bold;	
	font-weight:normal;
	color:$darkBlue;
}

@import './components/pageheader';
@import './components/footer';
@import './components/cookie-notice';
// @import './components/carousel';
@import './components/manual-video';
@import './components/tail';
@import 'common';
@import 'home';
@import 'range';
@import 'where-to-buy';
@import 'advice';
@import 'mums';
@import 'faq';
@import 'misc';

.hdx{
	width:100%;
	@include trans;
	&.loading{
		opacity:0;
	}
	.hdxframe{
		width:100%;
		position:relative;
		img{
			width:100%;
		}
		&:before{
			content: ' ';
			width:100%;
			height:100%;
			position:absolute;
			left:0px;
			top:0px;
			z-index:2;
			background-color:rgba(0,0,0,0.2);
		}
	}
	@media screen and (min-width:$mobile){
		&{
			.hdxframe{
				overflow:hidden;
				position:relative;
				padding-top:0;
				min-height:504px;
				img{
					width:auto;
					height:100%;
					position:absolute;
					left:50%;
					right:auto;
					top:50%;
					transform:translate(-50%,-50%);
					&.lb{
						left:0%;
						transform:translate(0%,-50%);
					}
					&.rb{
						right:0;
						left:auto;
						transform:translate(0%,-50%);
					}
				}
			}
		}
	}
}

a.underline{
	text-decoration:underline;
}