.btn{
	font-family: OceanSansMTStd-Bold;
	padding:0.75rem 0.95rem;
	border-radius:8px;
	font-weight:800;
	vertical-align:middle;
	border:0;
	text-decoration:none;
	margin:0 auto;
	width:238px;

	border-color:$lightBlue;
	border-width:2px;
	border-style:solid;
	display:block;

	&.left{
		margin-left:0;
		margin-right:auto;
	}
	&.right{
		margin-left:auto;
		margin-right:0;
	}

	&.blue{
		color:#fff;
		background-color:$lightBlue;
	}
	&.white{
		color:$lightBlue;
		background-color:#fff;
	}
	&.darkblue{
		color:#fff;
		background-color:$darkBlue;
		border-color:$darkBlue;
	}
	&:hover,&:focus{
		&.blue{
			color:$lightBlue;
			background-color:#fff;
		}
		&.white{
			color:#fff;
			background-color:$lightBlue;
		}
		&.darkblue{
			color:$darkBlue;
			background-color:#fff;
		}
	}
}

.bannerx{
	position:relative;
	margin-bottom:$module-spacer;
	/* min-height:650px; */
	min-height:0;
	padding-top:100%;

	&:before{
		content: ' ';
		width:100%;
		height:100%;
		position:absolute;
		left:0px;
		top:0px;
		z-index:2;
		background-color:rgba(0,0,0,0.25);
	}

	.frame{
		width:100%;
		height:100%;
		position:relative;
		overflow:hidden;
		img{
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
			min-width:100%;
			min-height:100%;
		}
	}
	.mobile,.desktop{
		position:absolute;
		left:opx;
		top:0px;
		width:100%;
		height:100%;
		z-index:1;		
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.mobile{
		display:block;
	}
	.desktop{
		display:none;
	}

	&.biasRight,&.biasLeft{
		.frame{
			img{
				left:50%;
				right:0%;
				transform: translate(-50%,-50%);
			}
		}
	}

	& > .extra{
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		z-index:5;
		width:90%;
		h1{
			color:#fff;
			font-size:3rem;
			text-align:center;
			margin:0;
		}	
		p{
			color:#fff;
			font-size:1.2rem;
			text-align:center;
		}
	}
	& > h1{
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		z-index:5;
		color:#fff;
		font-size:3rem;
		text-align:center;
	}
	@media screen and (min-width:$mobile){
		&{
			padding-top:0;
			min-height:504px;
			.mobile{
				display:none;
			}
			.desktop{
				display:block;
			}
			& > h1{
				font-size:4rem;
			}
			& > .extra{
				h1{
					font-size:4rem;
				}
			}
		}
		&.biasRight{
			.frame{
				img{
					left:auto;
					right:0%;
					transform: translate(-0%,-50%);
				}
			}
		}
		&.biasLeft{
			.frame{
				img{
					left:0%;
					right:auto;
					transform: translate(-0%,-50%);
				}
			}
		}
	}
}

.bannery{
	position:relative;
	padding-top:88.9%;
	overflow:hidden;
	.image{
		position:absolute;
		z-index:1;
		left:0px;
		top:0px;
		width:100%;
	}
	& > .extra{
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		z-index:5;
		width:90%;
		h1{
			color:#fff;
			font-size:3rem;
			text-align:center;
			margin:0;
		}	
		p{
			color:#fff;
			font-size:1.2rem;
			text-align:center;
		}
	}
	@media screen and (min-width:$mobile){
		&{
			padding-top:0px;
			min-height:504px;
			& > h1{
				font-size:4rem;
			}
			& > .extra{
				h1{
					font-size:4rem;
				}
			}
		}
	}
}

#advice-banner,
#links-banner,
#our-range-banner,
#mums-banner,
#pregnancy-banner,
#mums-prevention-banner,
#where-to-buy-banner{
	padding-top:101.8%;
}

#links-banner,
#our-range-banner,
#where-to-buy-banner{
	& > .extra{
		top:calc(50% - 1.1rem);
		@media screen and (min-width:$mobile){
			&{
				top:30%;
			}
		}
	}
}


#advice-banner,
#links-banner,
#pregnancy-banner,
#our-range-banner,
#mums-banner,
#mums-prevention-banner,
#where-to-buy-banner{
	@media screen and (min-width:$mobile){
		&{
			padding-top:0px;
			min-height:504px;
		}
	}
}

#causes-banner,
#symptoms-banner,
#treatment-banner,
#prevention-banner,
#faq-banner,
#fourohfour-banner,
#terms-banner,
#cookies-banner,
#privacy-banner,
#sitemap-banner,
#contact-banner,
#professionals-banner{
	padding-top:88.9%;
}


#causes-banner,
#prevention-banner,
#symptoms-banner,
#treatment-banner,
#faq-banner,
#fourohfour-banner,
#terms-banner,
#cookies-banner,
#privacy-banner,
#sitemap-banner,
#contact-banner,
#professionals-banner{
	@media screen and (min-width:$mobile){
		&{
			padding-top:0px;
			min-height:435px;
			.image{
				.hdxframe{
					min-height:435px;
				}
			}
		}
	}
}


.centred{
	text-align:center;
}
.left-align{
	text-align:left;
}
.lightBlue{
	color:$lightBlue;
}
.darkBlue{
	color:$darkBlue;
}

.bigmargins{
	padding-left:3.25%;
	padding-right:3.25%;
}

.body{
	padding:1.5rem 5% 0.5rem 5%;

	&.smallH2headings{
		h2.product{
			font-size:1.2em;	
			margin-bottom:0em;
		}
	}
	&.smallBottomMargin{
		padding-bottom:1.5em;
	}

	h2{
		color:$darkBlue;
	}
	p,ol,ul,address{
		font-size:1em;	
		margin-bottom:1em;
		font-family:$bodyHelvetica;
		strong{
			font-weight:700;
			font-family:$bodyHelveticaBold;
		}
	}
	ol,ul{
		li{
			margin-bottom:1em;
		}
	}

	h2{
		font-size:1.5em;	
	}
	h3{
		font-size:1.2em;	
	}

	&.greyText{
		h2,h3,h4,p,ul,ol{
			color:#666666;
			&.lightBlue{
				color:$lightBlue;
			}
			&.darkBlue{
				color:$darkBlue;
			}

		}
	}

	ol.nomark{
		list-style-type:none;
		padding-left:1.5rem;
	}

	address{
		display:block;
		color:#666666;
		font-style:normal;
	}
}

.faqBlock{
	xbackground-color:$lightBlue;
	margin-bottom:$module-spacer;
	box-sizing:border-box;
	padding:2rem 5% 2rem 5%;
	h2{
		width:100%;
		text-align:center;
	}
}

ul.blueDiscList{
	list-style-type:none;
	padding-left:0;
	li{
		text-align:left;
		padding-left:1.2rem;
		position:relative;
		&:before{
			position:absolute;
			left:0px;
			top:0px;
			content:"\2022";
			padding-right:0.6rem;
			color:$lightBlue;
		}				
	}
	&.sizes{
		& > li{
			text-align:left;
			&:before{
				content:"-";
				padding-right:0.3rem;
				color:$lightBlue;
			}				
		}
	}
}


.twoColumnGrid{
	width:100%;
	background-color:#f4f4f4;
	margin-bottom:$module-spacer;
	&:after{
		content:' ';
		display:block;
		float:none;
		clear:both;
	}
	.row{
		margin:0;
		
		.clmn{
			width:100%;
			
			&.p{
				overflow:hidden;
				position:relative;
				padding-top:50%;
				img{
					position:absolute;
					left:50%;
					top:50%;
					bottom:auto;
					transform:translate(-50%,-50%);
					width:100%;
				}
				&.top{
					img{
						left:50%;
						top:0%;
						bottom:auto;
						transform:translate(-50%,0%);
					}
				}
			}
			&.t{
				
			    box-sizing:border-box;
			    padding:1.5rem;

		    	text-align:center;

			    display: flex;
			    align-items: center;
			    justify-content: center;
			    
			    div{
			    	display:block;
			    	width:100%;
				    box-sizing:border-box;
				    padding:1.5rem;

			    	text-align:center;
					h3{color:$darkBlue;}
					p{
						font-size:1em;
						color:#666666;
					}
					a.btn{
						;
					}
					ul{
						width:75%;
						margin:0 auto;
					}
			    }
			}

		}
	}
}

.threeColumnGrid,
.fourColumnGrid{
	width:100%;
	overflow:hidden;
	margin-bottom:0;
	.row{
		margin:0;
		margin-left:-4px;
		margin-right:-4px;
		.clmn{
			width:100%;
			box-sizing:border-box;
			margin-bottom:$module-spacer;
			background-color:#f4f4f4;
			
			border-width:0 4px 0 4px;
			border-style:solid;
			border-color:#fff;

			div{
				text-align:center;
		    	display:block;
		    	width:100%;
			    box-sizing:border-box;
				
				padding:2rem 0;
				.frame{
					padding:0;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    height:80px;
				    margin-bottom:0.75rem;
					img{}
				}
				h4{color:$darkBlue;}
				p{
					color:#666666;
					padding:0 2rem;
				}
				a.btn{
					width:70%;
					max-width:238px;
				}
			}
			
		}
	}
}

.expander{
	margin-bottom:1em;
	.header{
		width:100%;
		border-bottom:1px solid #efefef;
		padding:0 0 0.25rem 0;
		margin-bottom:0.25rem;
		cursor:pointer;
		h2{
			color:$darkBlue;
			position:relative;
			font-size:1.2em;
			font-family: $bodyHelvetica;
			&:before{
				content:'+';
				color:$lightBlue;
				font-size:0.8em;
				display:inline-block;
				padding-right:0.5em;

			}
		}
	}
	.clipper{
		max-height:0;
		overflow:hidden;
		@include transmaxheight();
		.content{}
	}
	&.open{
		.header{
			h2{
				&:before{
					content:'-';
				}
			}			
		}
		.clipper{
			max-height:260px;
		}
	}
}

.expander2{
	margin-bottom:1em;
	position:relative;
	padding-left:50px;
	box-sizing:border-box;
	.header{
		width:100%;
		padding-bottom:0.5rem;
		border-width:0 0 1px 0;
		border-style:solid;
		border-color:$lightBlue;
		margin-bottom:0.5rem;
		.control{
			position:absolute;
			left:0px;
			top:0px;
			color:$darkBlue;
			border:2px solid $darkBlue;
			height:32px;
			width:32px;
			margin-right:1rem;
			cursor:pointer;
			font-size:1.4rem;
			text-align:center;
			line-height:2rem;
			&:before{
				content:'+';
			}
		}
		h3{
			font-size:1.2em;
			line-height:2rem;
			font-family: $bodyHelvetica;
			margin:0;
		}
	}
	.clipper{
		max-height:0;
		overflow:hidden;
		@include transmaxheight();
	}
	&.open{
		.control{
			&:before{
				content:'-';
			}
		}
		.clipper{
			max-height:100em;
		}
	}
	
	p{}
}

/* desktop layout */
@media screen and (min-width:$mobile){
	.twoColumnGrid{
		&.alternating{
			.row:nth-child(odd){
				.p{order:1;}
				.t{order:2;}
			}
			.row:nth-child(even){
				.p{order:2;}
				.t{order:1;}
			}
		}
		.row{

			display:flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: stretch;

			.clmn{
				width:50%;
				&.p{
					overflow:hidden;
					position:relative;
					padding-top:35%;
					img{
						position:absolute;
						left:50%;
						top:50%;
						bottom:auto;
						transform:translate(-50%,-50%);
						width:100%;
					}
					&.top{
						img{
							left:50%;
							top:0%;
							bottom:auto;
							transform:translate(-50%,0%);
						}
					}
					&.height{
						img{
							width:auto;
							min-height:100%;
						}
					}
					&.right{
						img{
							right:0%;
							left:auto;
							transform:translate(0%,-50%);
						}
					}
				}
			}
		}
	}
	.threeColumnGrid{
		margin-bottom:$module-spacer;
		.row{
			display:flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: stretch;

			margin:0 -$module-spacer;
			
			.clmn{
				margin-bottom:0px;
				padding:0 3px;
				position:relative;
				div{
					padding:1.5rem 1.5rem 5rem 1.5rem;
					.btn{
						position: absolute;
					    bottom: 2rem;
					    top: auto;
					    left: 50%;
					    /* margin-left: -121px; */
					    transform: translateX(-50%);
					}
					p{
						padding:0;
					}
				}
			}
		}
	}

	.threeColumnGrid{
		.row{
			.clmn{
				width:33.3%;
			}
		}
	}

	.faqBlock{
		padding-left:15.4%;
		padding-right:15.4%;
	}

	.body{
		&.bigmargins{
			padding-left:15.4%;
			padding-right:15.4%;
		}
	}
}

@media screen and (min-width:$mobile){
	.fourColumnGrid{
		margin-bottom:0;		
		.row{
			display:flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: stretch;

			margin:0 -$module-spacer;
			
			.clmn{
				margin-bottom:$module-spacer;
				padding:0 3px;
				div{
					padding:5rem 1.5rem;
				}
			}
		}
	}
	.fourColumnGrid{
		.row{
			.clmn{
				width:50%;
			}
		}
	}
}
@media screen and (min-width:992px){
	.fourColumnGrid{
		.row{
			.clmn{
				width:25%;
			}
		}
	}
}
