#faq-banner{
}

#links-banner{
	h1{
		top:calc(50% - 1.1rem);
	}
	@media screen and (min-width:$mobile){
		&{
			h1{
				top:30%;
			}
		}
	}
}

.faqBlock{
	.expander2{
		ul{
			li{
				margin-bottom:0.2em;
			}
		}		
		ul.dashList{
			list-style-type:none;
			padding-left:0;
			li{
				text-align:left;
				padding-left:1.2rem;
				position:relative;
				&:before{
					position:absolute;
					left:0px;
					top:0px;
					content:"-";
					padding-right:0.6rem;
				}				
			}
		}
	}
}

.extraQuestion{
	& > .header{
		cursor:pointer;
		h3{
			span{
				display:none;
				&.open{
					display:inline-block;
				}
			}
		}
	}
	& > .content{
		& > .clipper{
			max-height:0;
			overflow:hidden;
			@include transmaxheight();
		}
	}
	&.open{
		& > .header{
			h3{
				span{
					display:inline-block;
					&.open{
						display:none;
					}
				}
			}
		}
		& > .content{
			& > .clipper{
				max-height:200em;
			}
		}
	}
}

.retailGrid.helpful-links{
	width:95%;
	@media screen and (min-width:640px){
		&{
			width:80%;
			.cell{
				flex-basis:33.3%;
				padding-top:33.3%;
				img{
					position:absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
				}
			}

		}
	}
	@media screen and (min-width:992px){
		&{
			width:780px;
		}
	}
}