#home-hero,
#home_vc{
	.items{
		position:relative;
		.row{
			margin-left:0;
			margin-right:0;
		}
		.clmn{
			padding:0;
			border-width:0;
			overflow:hidden;
			margin-bottom:0;
			&.clmn-advice{
				.caption{
					div{
						position:relative;
						top:0%;
						@media screen and (min-width:$mobile){
							&{
								top:-20%;
							}
						}
					}
				}
			}
		}
		.box{
			overflow:hidden;
			position:relative;
			/*padding-top:39%;*/
			min-height:0;
			padding-top:101.8%;

			img{
				position:absolute;
				left:50%;
				top:50%;
				transform: translate(-50%, -50%);
				height:100%;

				&.desktop{
					display:none;
				}
				&.mobile{
					display:block;
				}
			}

			&:before{
				content: ' ';
				width:100%;
				height:100%;
				position:absolute;
				left:0px;
				top:0px;
				z-index:2;
				background-color:rgba(0,0,0,0.2);
			}

			@media screen and (min-width:$mobile){
				&{
					min-height:504px;
					padding-top:0px;
					img{
						&.desktop{
							display:block;
						}
						&.mobile{
							display:none;
						}
					}
				}
			}				
		}
		.index{
			position:absolute;
			left:50%;
			bottom:0.5em;
			z-index:1000;
			transform: translate(-50%, -50%);
			ul{
				li{
					@include outerShadow(10px);
					background-color:#fff;
					margin:0 4px;
					&.active{
						background-color:$darkBlue;
					}
				}
			}
			&.iscontrol{
				ul{
					li{
						cursor:pointer;
					}
				}
			}
		}
		.control{
			position:absolute;
			z-index:1000;
			top:0px;
			height:100%;
			width:5rem;
			background-color:rgba(255,255,255,0.5);
			display:block;
			cursor:pointer;

		    display: flex;
		    align-items: center; /* Vertical center alignment */
		    justify-content: center; /* Horizontal center alignment */
			@include transopacity2(0.3s);
			opacity:0;

			&:hover{
				opacity:1;
			}			
			div{
				font-size:4rem;
				color:#fff;
			}
			&.left{
				left:0px;
				right:auto;
			}
			&.right{
				left:auto;
				right:0px;
			}
		}

		.caption{
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			z-index:100;
			box-sizing:border-box;
			padding:0 2rem;
		    display: flex;
		    align-items: center; /* Vertical center alignment */
		    justify-content: center; /* Horizontal center alignment */
		    div{
		    	width:100%;
		    	text-align:center;

				/*
				h2{color:$darkBlue;}
				h3{color:$lightBlue;}
				*/
				h2{
					color:#fff;
					font-size:1.5em;
					@media screen and (min-width:$mobile){
						&{
							font-size:1.8em;
						}
					}
				}
				h3{
					color:#fff;
				}

				.btn{
					position:static;
					left:auto;
					top:0px;
					bottom:auto;
					margin-left:auto;
				}
		    }
		}
	}
}

#home_vc{
	position:relative;
	.loader{
		position:absolute;
		z-index:0;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		background-color:#fff;
		@include transopacity2(2s);
	    display: flex;
	    align-items: center;
	    justify-content: center;
		div{
			width:8rem;
			height:8rem;
			border-radius:4rem;
			border-width:0.5rem;
			border-style:solid;
			border-color:#000;
			border-right-color:transparent;
			margin:auto auto;
			animation: spinner-border .75s linear infinite;
		}
	}
	.items{
		transform:tranlate(0,0);
		@include transopacity2(2s);
		.control{
			top:50%;
			margin-top:-2.5rem;
			border-radius:2.5rem;
			height:5rem;
			width:5rem;
			opacity:0.25;
			&.left{
				left:2rem;
				right:auto;
			}
			&.right{
				left:auto;
				right:2rem;
			}

		}
	}

	.clmn{
		padding:0;
		article.vcItem{
			padding-top:56.25%;
			background-color:#000;
			position:relative;
			z-index:1;

			&.running{
				.overlay{
					top:-100%;
				}
			}
			video,.overlay,button.play{
				position:absolute;
				left:0px;
				top:0px;
				width:100%;
			}
			video{
				z-index:5;		
				height:auto;
				width:100%;
				min-width:100%;
				height:auto;
			}
			.rel{
				position:relative;
			}
			.overlay{
				z-index:10;		
				@include transtop();
				.frame{
					.rel{
						padding-top:56.25%;
						img{
							position:absolute;
							left:50%;
							top:50%;
							height:100%;
							width:auto;
							-webkit-transform: translate(-50%,-50%) scale(1);
							-moz-transform:  translate(-50%,-50%) scale(1);
							-ms-transform:  translate(-50%,-50%) scale(1);
							transform:  translate(-50%,-50%) scale(1);
						}
					}
				}

				h2{
					position:absolute;
					left:0px;
					top:auto;
					bottom:0.5rem;
					width:100%;
					height:auto;
					margin:0;
					z-index:150;
					color:#fff;
					font-size:1.5rem;
					text-align:center;
					@media screen and (min-width:480px){
						&{
							top:calc(50% + 4.75rem);
							bottom:auto;
							font-size:2.5rem;
						}
					}
				}

				button.play{
					height:100%;
					z-index:200;
					background-color:transparent;
					background-image:url('/img/common/play.png');
					background-repeat:no-repeat;
					background-position:50% 50%;
					background-size:4rem 4rem;
					border:0;
					text-indent:-9999em;

			    	&:hover{
					    -webkit-animation:pulse 1s linear infinite;
					    -moz-animation:pulse 1s linear infinite;
					    -ms-animation:pulse 1s linear infinite;
					    animation:pulse 1s linear infinite;
					}
					@media screen and (min-width:480px){
						&{
							background-size:8rem 8rem;
						}
					}
				}
			}
		}
	}
	&.loading{
		.items{
			opacity:0;
		}
		.loader{
			opacity:1;
		}
	}
}

#home_vc2{
	margin-bottom:20px;
	padding:0 40px;
	.slick-dots{
		bottom:-40px;
		li{
			button{
				outline:none;
				width:16px;
				height:16px;
				text-indent:-9999em;
				overflow:hidden;
				border:0;
				border-radius:8px;
				@include bgcolortrans(0.6s);
				@include outerShadow(10px);
				background-color:#fff;
				margin:0 4px;
			}
			&.slick-active{
				button{
					background-color:$darkBlue;
				}
			}
		}
	}

	.row{
		margin-left:-10px;
		margin-right:-10px;
		.item{
			width:33.3%;
			box-sizing:border-box;
			padding-left:10px;
			padding-right:10px;
			h3{
				text-align:center;
				margin:0;
				padding:1rem 1rem;
				background-color:#00a1e0;
				color:#fff;
				span{}
				margin-bottom:6px;
			}
			.videoPlay{
				position:relative;
				z-index:1;
				padding-top:100%; /* square aspect ratio */
				overflow:hidden;
				a{
					position:absolute;
					left:0px;
					top:0px;
					width:100%;
					height:100%;
					background-color:rgba(255, 255, 255, 0);
					background-image:url('/img/icons/play_blue.png');
					background-repeat:no-repeat;
					background-position:50% 50%;
					background-size:25% 25%;
					z-index:10;
				}
				img{
					width:100%;
					position:absolute;
					left:50%;
					top:50%;
					-webkit-transform: translate(-50%,-50%) scale(1);
					-moz-transform:  translate(-50%,-50%) scale(1);
					-ms-transform:  translate(-50%,-50%) scale(1);
					transform:  translate(-50%,-50%) scale(1);
					width:auto;
					height:100%;
				}
			}
		}
	}
}

body{
	.modal-backdrop {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1040;
	    background-color: #000;
	    opacity:0;

	    -webkit-transition: opacity 0.3s ease;
	    -moz-transition: opacity 0.3s ease;
	    -ms-transition: opacity 0.3s ease;
	    -o-transition: opacity 0.3s ease;
	    transition: opacity 0.3s ease;
	}
	.modal {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1050;
	    align-items:center;
	    align-content:center;
	    -webkit-transition: opacity 0.3s ease;
	    -moz-transition: opacity 0.3s ease;
	    -ms-transition: opacity 0.3s ease;
	    -o-transition: opacity 0.3s ease;
	    transition: opacity 0.3s ease;

	    display: none;
	    overflow: hidden;
	    outline: 0;
	    opacity:0;
	    .modal-dialog{
	    	display:block;
	    	width:90%;
	    	max-width:1000px;
	    	margin-top:1.5rem;
	    	margin-left:auto;
	    	margin-right:auto;
	    	.modal-header{
	    		display:flex;
	    		justify-content:space-between;
	    		padding-bottom:1rem;
	    		modal-title{}
	    		button{
	    			border:0;
	    			font-size:2rem;
	    			line-height:1rem;
	    			cursor:pointer;
	    			background-color:#fff;
	    		}
	    	}
	    	.modal-content{
	    		padding:1rem;
	    		background-color:#fff;
	    		border-radius:1rem;
	    		.modal-body{
	    			video{
	    				width:100%;
	    			}
	    		}
	    	}
	    }
    	@media screen and (orientation:landscape) and (max-height:750px) {
    		&{
    			.modal-dialog{
    				display:inline-block;
    				align-content:center;
			    	width:auto;
			    	margin:0 auto;
	    			.modal-content{
			    		.modal-body{
			    			width:auto;
			    			video{
			    				width:auto;
			    				max-height:80vh;
			    				max-width:100%;
			    			}
			    		}
	    			}
    			}
    		}
    	}
	}
	&.modal-open{
		overflow:hidden;

		.modal {
			opacity:1;
		    overflow-x: hidden;
		    overflow-y: auto;
		    display:flex;
		}

		.modal-backdrop {
		    opacity: .5;
		}
	}
}
