.sitemap{
	list-style-type:none;
	padding-left:0;
	& > li.has-children{

		h4{
			font-family: $bodyHelvetica;
			font-size:1em;
			margin-left:1rem;
			margin-bottom:0;
		}
		ul{
			list-style-type:none;
			padding-left:0;
			margin-left:1rem;
			& > li{
				padding-left:1rem;
				margin-bottom:0;
			}
		}

	}
	a.nav-link{
		height:auto;
		font-size:1em;
		line-height:1.2em;
		font-weight:normal;
		color:#666666;
		padding-left:0;
		font-family: $bodyHelvetica;
		&:hover{
			text-decoration:underline;
			color:$lightBlue;
		}
	}
	.nav-item > a.nav-link{
		color:$darkBlue;
	}
	.has-children > h4{
		color:$lightBlue;
	}
}

address{
	font-style:italic;
}

ul.linkList{
	li{
		margin-bottom:0.5rem;
		a{}
	}
}