@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin trans {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@mixin trans2($duration) {
    -webkit-transition: all $duration ease;
    -moz-transition: all $duration ease;
    -ms-transition: all $duration ease;
    -o-transition: all $duration ease;
    transition: all $duration ease;
}

@mixin transformRotate($angle) {
    -webkit-transform: rotate($angle);
    -ms-transform: rotate($angle);
    transform: rotate($angle);
}

@mixin transformScale($scale) {
    -webkit-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
}

@mixin transleft {
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

@mixin transright {
    -webkit-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    -ms-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease;
}

@mixin transtop {
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -ms-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
}

@mixin transbottom {
    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    -ms-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}

@mixin transheight {
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

@mixin transwidth {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

@mixin transmaxheight {
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -ms-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
}

@mixin transopacity {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
@mixin transopacity2($duration) {
    -webkit-transition: opacity $duration ease;
    -moz-transition: opacity $duration ease;
    -ms-transition: opacity $duration ease;
    -o-transition: opacity $duration ease;
    transition: opacity $duration ease;
}

@mixin transTransform {
    -webkit-transition: -webkit-transform 0.3s ease-in; 
    -moz-transition: -moz-transform 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}
@mixin bgcolortrans($duration) {
    -webkit-transition: background-color $duration ease;
    -moz-transition: background-color $duration ease;
    -ms-transition: background-color $duration ease;
    -o-transition: background-color $duration ease;
    transition: background-color $duration ease;
}

@mixin outerShadow($blur){
    -webkit-box-shadow: 0px 0px $blur 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px $blur 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px $blur 0px rgba(0,0,0,0.75);
}

@mixin innerShadow($blur){
    -webkit-box-shadow: inset 0px 0px $blur 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px $blur 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px $blur 0px rgba(0,0,0,0.75);
}

@mixin translateY($top){
    -webkit-transform: translateY($top);
    -moz-transform: translateY($top);
    -ms-transform: translateY($top);
    transform: translateY($top);
}
