#mums-banner{
}

#mums-treatment-banner{
}

#mums-prevention-banner{
}

#pregnancy-banner{
}

.pregnancyResources{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;

	margin-left:auto;
	margin-right:auto;
	width:96.75%;

	.cell{
		flex-basis:100%;
		padding-top:60%;
		position:relative;
		
		background-color:#f4f4f4;
		border-width:0 4px 0 4px;
		border-style:solid;
		border-color:#fff;
		margin-bottom:8px;
		display:flex;
	    align-items: center;
	    justify-content: center;
	    overflow:hidden;
		img{
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
			width:90%;
			/* @include transTransform(); */
		}
		/*
		&:hover{
			img{
				transform: translate(-50%,-50%)  scale(1.05);
			}
			
		}
		*/
	}

	@media screen and (min-width:480px){
		&{
			.cell{
				flex-basis:100%;
				padding-top:0%;
				img{
					position:static;
					left:0;
					top:0;
					transform: translate(0%,0%);
				}
			}
		}
	}

	@media screen and (min-width:640px){
		&{
			width:71.2%;
			.cell{
				flex-basis:33.3%;
				padding-top:33.3%;
			}
		}
	}
	@media screen and (min-width:$mobile){
		&{
			.cell{
				flex-basis:33.3%;
				padding-top:33.3%;
				img{
					position:absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
				}
			}
		}

	}
}

.btn{
	&.wide{
		margin-bottom:1.5em;
		width:270px;
	}
}