/**
 * @license
 * MyFonts Webfont Build ID 3881111, 2020-03-18T11:35:27-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaLTWXX-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/helvetica/pro-regular/
 * Copyright: Copyright &amp;#x00A9; 2014 Monotype Imaging Inc. All rights reserved.
 * 
 * Webfont: OceanSansMTStd-Bold by Monotype
 * URL: https://www.myfonts.com/fonts/mti/ocean-sans-mt/std-bold/
 * Copyright: Copyright &amp;#x00A9; 1993, 1996, 2002 Adobe Systems Incorporated. All Rights Reserved.
 * 
 * 
 * 
 * © 2020 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/3b3897"); */
  
@font-face {
  src: url('/fonts/helvetica/font.eot');
  font-family: 'HelveticaLTWXX-Roman';
  src: url('/fonts/helvetica/font.woff2') format('woff2'), url('/fonts/helvetica/font.woff') format('woff'), url('/fonts/helvetica/font.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica/font.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaLTWXX-Bold';
  src: url('/fonts/helvetica-bold/font.woff2') format('woff2'), url('/fonts/helvetica-bold/font.woff') format('woff');
}

@font-face {
  src: url('/fonts/oceansans/font.eot');
  font-family: 'OceanSansMTStd-Bold';
  src: url('/fonts/oceansans/font.woff2') format('woff2'), url('/fonts/oceansans/font.woff') format('woff'), url('/fonts/oceansans/font.eot?#iefix') format('embedded-opentype'), url('/fonts/oceansans/font.ttf') format('truetype');
}
  


