
.product{
	width:100%;
	.image,.details{}
	.image{
		box-sizing:border-box;
		padding:0.5rem;
		img{
			width:100%;
		}
		&.pharmacy{
			
			.frame{
				position:relative;
				.phicon{
					position:absolute;
					right:1rem;
					top:1rem;
					z-index:10;
					width:57px;
					height:57px;
					background-image:url('/img/icons/pharmacy2.png');
					background-repeat:no-repeat;
					background-position:left top;
				}
			}
		}
	}
	.details{
		padding:2rem 0rem;
		.cpy{
			text-align:left;
			box-sizing:border-box;
			padding:0rem 3rem 0rem 3rem;

		}
		h1{text-align:center;}
		h2{
			font-size:1em;
			color:$darkBlue;
			font-family: $bodyHelvetica;
		}
		p{}
		ul{
			list-style-type:none;
			padding-left:0;
			li{
				text-align:left;
				&:before{
					content:"\2022";
					padding-right:0.6rem;
					color:$lightBlue;
				}				
			}
			&.sizes{
			& > li{
				&:before{
					content:"-";
					padding-right:0.3rem;
					color:$lightBlue;
				}				
			}
			}
		}
		a.download{
			display:block;
			margin-bottom:1rem;
		}
		.buy{
			display:flex;
			justify-content:center;
		}
		.pharmacy{
			background-color:#e5f6f7;
			background-image:url('/img/icons/pharmacy.png');
			background-repeat:no-repeat;
			background-position:1rem 50%;
			border-radius:8px;
			box-sizing:border-box;
			padding:1rem 1rem 1rem 84px;
			margin:0rem 0rem 1rem 0rem;
			h2{
				color:#01a5b3;
				font-family: OceanSansMTStd-Bold;
			}
			p{
				margin:0;
			}
		}
	}

	@media screen and (min-width:768px){
		&{
			display:flex;
			flex-wrap:wrap;
			flex-direction:row;
			align-items:stretch;
			.image{
				flex-basis:33.3%;
			}
			.details{
				flex-basis:66.6%;
			}
			.image{
				padding:.5rem 0 0.5rem 0;
			}
			.details{
			}
		}
	}

	@media screen and (min-width:992px){
		&{
			.image,.details{
				flex-grow:1;
				flex-basis:0;
				width:50%;
			}
		}
	}
}

.items{
	overflow:hidden;
	.row{
		margin-left:0px;
		margin-right:0px;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	.clmn{
		box-sizing:border-box;
		padding:1rem;
		padding-bottom:6rem;
		opacity:1;
		margin-right:0;
		width:100%;
		background-color:#f4f4f4;
		margin-bottom:$module-spacer;
		position:relative;
	}
	.box{
		text-align:center;
	}
	a.fh{
	    position: relative;
	    padding-top: 280px;
	    display: block;
	    width: 100%;
		img{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-36%, -50%);
		}
		&.wide{
			img{
				width: 80%;
				transform: translate(-50%, -50%);
			}
		}
	}
	h3{
		font-size: 1.2em;
		color: #1c29a7;				
	}
	.btn{
		position:absolute;
		bottom:2em;
		left: 50%;
		margin-left: -121px;
	}
	@media screen and (min-width:480px){
		&{
			a.fh.wide{
				img{
					width: auto;
				}
			}
		}
	}
	@media screen and (min-width:920px){
		&{
			.row{
				margin-left:-5px;
				margin-right:-5px;
				width:auto;
				flex-wrap: wrap;
			    flex-direction: row;
			    align-items: stretch;
			}
			.clmn{
				border-width:0 4px 0 4px;
				border-style:solid;
				border-color:#fff;
				background-color:#f4f4f4;
				flex-grow:1;
				flex-basis:0;
				min-width:262px;
			}
			a.fh.wide{
				img{
					width: 100%;
				}
			}
		}
	}
}

#range-wipes{
	@media screen and (min-width:920px){
		&{
			.items{
				 width:75%;
				 margin:0 auto;
			}
		}
	}
}

.relatedItems{
	background-color:#fff;
	margin-bottom:0;
	.body{
		padding-top:2rem;
		padding-bottom:2rem;
	}
	@media screen and (min-width:920px){
		&{
			.limiter{
				width:100%;
				background-color:#fff;
			}
		}
	}
}

.rangeblock{
	background-color:#f4f4f4;
	padding-bottom:0.5rem;
	margin-bottom:$module-spacer;
	width:100%;
	overflow:hidden;
	.body{
		padding-top:2rem;
		padding-bottom:0rem;
	}
	@media screen and (min-width:920px){
		&{
			.items{
				.row{
					margin-left:0px;
					margin-right:0px;
				}
				.clmn{
					border-width:0px;
				}
			}
		}
	}
}

.inca{
	.row{
		display:block;
		&:after{
			content:'';
			clear:both;
			float:none;
			display:block;
		}
	}
	.clmn{
		width:100%;
		position:relative;
		left:0%;
		margin-right:-100%;
		opacity:0;
		float:left;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		&.active{
			left:0%;
			opacity:1;
		}
	}
	a.fh{
		&.wide{
			img{
				width:100%;
				max-width:303px;
			}
		}
	}
	.index{
		display:block;
		ul{
			list-style-type:none;
			padding-left:0;
			width:100%;
			display:flex;
			align-items: center;
			justify-content: center;
			li{

				width:16px;
				height:16px;
				text-indent:-9999em;
				overflow:hidden;
				border:0;
				border-radius:8px;
				margin:0 10px;
				@include bgcolortrans(0.6s);
				background-color:$lightBlue;
				&.active{
					background-color:$darkBlue;
				}
			}
		}
	}
	@media screen and (min-width:920px){
		&{
			.row{
				display:block;
			}
			.clmn{
				margin-right:-100%;
				opacity:0;
				&.active{
					left:0%;
					opacity:1;
				}
			}
			.index{
				display:block;
			}
		}
	}
}

.switch{
	@media screen and (min-width:920px){
		.row{
			display:flex;
		}
		.clmn{
			margin-right:0%;
			left:0%;
			opacity:1;
		}
		.index{
			display:none;
		}
	}
}

.always{
}