.retailGrid2{
	h2{
		text-align:center;
		margin-bottom:1.2em;
	}
	.grid{
		width:96.75%;
		display:flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:2em;
		.cell{
			flex-basis:100%;
		    overflow:hidden;

		    background-color:#f4f4f4;
			border-width:0 4px 0px 4px;
			border-style:solid;
			border-color:#fff;
			margin-bottom:8px;
			.box{
			padding-bottom:3em;
				a.logolink{
					display:block;
					width:100%;
					height:150px;
					position:relative;
					img{
						position:absolute;
						left:50%;
						transform: translate(-50%,0%);
						bottom:36px;
					}
				}
				p{
					width:60%;
					margin:0 auto;
					text-align:center;
				}
			}
			width:100%;
			img{}
			.text{}
			a{}

		}
		@media screen and (min-width:768px){
			&{
				width:71.2%;
				.cell{
					flex-basis:50%;
				}
			}
		}
	}
}

.retailGrid{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;

	margin-left:auto;
	margin-right:auto;
	width:96.75%;

	.cell{
		flex-basis:100%;
		padding-top:60%;
		position:relative;
		
		background-color:#f4f4f4;
		border-width:0 4px 0 4px;
		border-style:solid;
		border-color:#fff;
		margin-bottom:8px;
		display:flex;
	    align-items: center;
	    justify-content: center;
	    overflow:hidden;
		img{
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
			width:90%;
			/* @include transTransform(); */
		}
		/*
		&:hover{
			img{
				transform: translate(-50%,-50%)  scale(1.05);
			}
			
		}
		*/
	}

	@media screen and (min-width:480px){
		&{
			.cell{
				flex-basis:50%;
				padding-top:50%;
			}
		}
	}

	@media screen and (min-width:640px){
		&{
			width:71.2%;
			.cell{
				flex-basis:33.3%;
				padding-top:33.3%;
			}
		}
	}
}
