.carousel{
	width:100%;
	max-height:504px;
	background-color:#fff;
	margin-top:0;
	margin-bottom:0;

	.carousel-inner{
		.carousel-item{

			background-repeat:no-repeat;
			background-size:cover;
			background-position-x:center;
			background-position-y:top;

			&.bg-centre{
				background-position:center top !important;
			}
			&.bg-right{
				background-position:right top !important;
			}
			&.bg-left{
				background-position:left top !important;
			}
			&.bg-twentyfive{
				background-position:25% top !important;
			}
			&.bg-seventyfive{
				background-position:75% top !important;
			}
		}
	}

	.caption{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:100;
	    display: flex;
	    align-items: center; /* Vertical center alignment */
	    justify-content: center; /* Horizontal center alignment */

	    div{
	    	width:100%;
	    	text-align:center;
	    }
	}

	.carousel-indicators{
		li{
			width:16px;
			height:16px;
			border-radius:8px;
			border:0;
			cursor:pointer;
			opacity:1;
			background-color:#fff;
			&.active{
				background-color:$darkBlue;
			}
		}
	}
}
