.cookie-notice{
	position:fixed;
	bottom:0px;
	z-index:1000;
	max-height:0;
	overflow:hidden;
	@include transmaxheight();
	width:100%;
	max-width:$max-width;
	margin:0 auto;
	.ch{
		width:100%;
		max-width:$max-width;
		margin-left:auto;
		margin-right:auto;
		box-sizing:border-box;
		background-color:rgba(0,47,109,0.9);
		padding:1.5rem;
		text-align:left;

		.cl,.cr{
			width:100%;
			text-align:center;
		}
		h2{color:#fff;}
		p{
			color:#fff;
			a{
				color:#fff;
				font-weight:800;
			}
		}
		button.btn{
			width:242px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	&.visible{
		max-height:200px;
	}
	@media screen and (min-width:$mobile){
		&{
			.ch{
				display:flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: stretch;
				.cl{
					flex-grow: 1;
					flex-shrink: 1;
					flex-basis: 0%;
					text-align:left;
				}
				.cr{
					width:242px;
				}
				button.btn{
					
				}
			}
		}
	}
}
