footer.page{
	text-align:center;
	padding:46px 5% 70px 5%;
	background-color:#efefef;
	box-sizing:border-box;
	a.logo{
		display:block;
		img{
			margin-left:auto;
			margin-right:auto;
		}
		margin-bottom:24px;
	}
	nav{
		margin-bottom:36px;
		display:inline-block;
		&:after{
			content:' ';
			display:block;
			float:none;
			clear:both;
		}
		a{
			border-left:1px solid #000;
			padding:0 0.5rem;
			color:#163571;
			display:inline-block;
			float:left;
			&:first-child{
				border-left:0;
			}
			&.active,&:hover{
				color:#000;
			}
		}
	}
	h2{text-align:center;font-size:1em;font-weight:bold;}
	p{text-align:center;margin:0 0 1em 0;font-size:0.8em;}
}
