.manualVideo{
	width:100%;
	margin-bottom:$module-spacer;
	position:relative;
	padding-top:83.3%;
	padding-top:56.25%;
	overflow:hidden;

	.loader,.video,.overlay,.frame,button.play{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
	}

	.loader,.video,.overlay{
		@include transtop();
	}

	.rel{
		position:relative;
		width:100%;
		height:100%;
	}

	button.play{
		z-index:200;
		background-color:transparent;
		background-image:url('/img/common/play.png');
		background-repeat:no-repeat;
		background-position:50% 50%;
		background-size:4rem 4rem;
		border:0;
		text-indent:-9999em;

    	&:hover{
		    -webkit-animation:pulse 1s linear infinite;
		    -moz-animation:pulse 1s linear infinite;
		    -ms-animation:pulse 1s linear infinite;
		    animation:pulse 1s linear infinite;
		}
		@media screen and (min-width:480px){
			&{
				background-size:8rem 8rem;
			}
		}
	}

	.frame{
		img{
			position:absolute;
			left:50%;
			top:50%;
			height:100%;
			width:auto;
			-webkit-transform: translate(-50%,-50%) scale(1);
			-moz-transform:  translate(-50%,-50%) scale(1);
			-ms-transform:  translate(-50%,-50%) scale(1);
			transform:  translate(-50%,-50%) scale(1);
		}
	}

	.loader{
	    display: flex;
	    align-items: center;
	    justify-content: center;
		top:100%;
		div{
			width:8rem;
			height:8rem;
			border-radius:4rem;
			border-width:0.5rem;
			border-style:solid;
			border-color:#000;
			border-right-color:transparent;
			margin:auto auto;
			animation: spinner-border .75s linear infinite;
		}
	}

	.video{
		top:0%;
		background-color:#000;
		opacity:0;
		video{
			height:100%;
			width:100%;;
			margin:0 auto;
		}
	}

	.overlay{
		top:0%;
		overflow:hidden;
		h2{
			position:absolute;
			left:0px;
			top:auto;
			bottom:0.5rem;
			width:100%;
			height:auto;
			margin:0;
			z-index:150;
			color:#fff;
			font-size:1.5rem;
			text-align:center;
			@media screen and (min-width:480px){
				&{
					top:calc(50% + 4.75rem);
					bottom:auto;
					font-size:2.5rem;
				}
			}
		}
	}

	&.loading{
		.loader{
			top:0%;
		}
		.video,.overlay{
			top:-100%;
		}
	}
	&.running{
		.overlay{
			top:-100%;
		}
		.video{
			opacity:1;
		}
	}
}

/* desktop layout */
@media screen and (min-width:$mobile){
	.manualVideo{
		padding-top:41.6%;
		padding-top:56.25%;
	}
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

