header.page{

	nav.navbar{
		position:relative;
		background-color:#f4f4f4;
		min-height:83px;

		&.navbar-expand-lg{
			padding-left:0;
			padding-right:0;
			.navbar-brand{
				margin-left:1rem;
			}
		}

		a.navbar-brand{
			min-height:83px;
			box-sizing:border-box;
			padding-top:24px;
			img{
				width:140px;
			}
		}
		.navbar-toggler{
			outline:none;
			.navbar-toggler-icon{
				background-size:auto auto;
				width:53px;
				height:37px;
				background-image:url('/img/common/nav/mobile-menu-close.png');
			}
			&.collapsed{
				.navbar-toggler-icon{
					background-image:url('/img/common/nav/mobile-menu.png');
				}
			}
		}
	}
	ul.nav{
		margin-right:0;
		margin-left:auto;
		box-sizing:border-box;
		padding:2rem;
		background-color:#fff;
		li.nav-item{
			width:100%;
			margin-bottom:0.3rem;
			&.has-children{
			}
		}
	}
}
.thumbnail{
	display:none;
}
.subnav{
	width:100%;
	.clmn{
		padding-top:0;
		h4{
			font-family: OceanSansMTStd-Bold;
			font-size:1.3em;
			text-align:left;
			font-weight:normal;
			color:$lightBlue;
			margin-left:1rem;
		}
		ul{
			list-style-type:none;
			padding-left:0px;
			margin-left:2rem;
			margin-bottom:0.5rem;
			li{
				a.nav-link{
					font-size:1.1em;
					padding:0;
					font-weight:normal;
					color:#666666;
					font-family: $bodyHelvetica;
					&.active{
						color:$lightBlue;
					}
					&:hover{
						color:$lightBlue;
					}
				}
			}

		}
		&:hover{
			h4{
				
			}
		}
	}
}

a.nav-link{
	font-family: OceanSansMTStd-Bold;
	padding:0;
	font-size:1.3em;
	color:$darkBlue;
	font-weight:800;
	&.active,&:hover,&:focus{
		color:$lightBlue;
	}
}

@media screen and (min-width:992px){
	header.page{
		nav.navbar{
			min-height:143px;
			padding:0;
			&.navbar-expand-lg{
				a.navbar-brand{
					min-height:0;
					box-sizing:border-box;
					padding-top:0;
					margin-left:3rem;
					img{
						width:auto;
					}
				}
			}
			.collapse{
				overflow:visible
			}
		}
		ul.nav{
			padding:0;
			background-color:transparent;
			margin-right:2em;
			li.nav-item{
				width:auto;
				padding-bottom:0;
				margin-bottom:0;

				& > div.relmenu > a.nav-link{
					height:143px;
					line-height:143px;
					padding-left:1rem;
					padding-right:1rem;
				}

				&.has-children{
					&:hover{
						.dd-wrapper{
							max-height:504px;
						}
					}

					&.open-dd{
						& > a.nav-link{
							color:$lightBlue;
						}
						
						& > .dd-wrapper{
							max-height:504px;
						}
					}

					& > div.absmenu{
						position:absolute;
						left:0px;
						top:143px;
						width:100%;
						z-index:999;
						& > .dd-wrapper{
							max-height:0;
							overflow:hidden;
							@include transmaxheight();

							.dd-item{
								padding-bottom:12px;
								background-image:url('/img/common/nav/dropdown-shadow.png');
								background-repeat:repeat-x;
								background-position: left bottom;
							}

							.fullspan{
								width:100%;
								xbackground-color:rgba(255,255,255,0.9);
								background-color:#fff;
								min-height:200px;
								box-sizing:border-box;
								padding:10px;

								display:flex;
								flex-wrap: wrap;
								flex-direction: row;
								align-items: stretch;

							}

							.thumbnail{
								display:block;
								width:34.8%;
								img{
									width:100%;
								}
							}
						}
					}

					& > div.relmenu{
						position:relative;
						z-index:1000;
						.dd-wrapper{
							max-height:0px;
							overflow:hidden;
							width:auto;
							min-width:200px;
							position:absolute;
							top:143px;
							@include transmaxheight();
							.dd-menu{
								.thumbnail{
									display:none;
								}
								.subnav{
									width:100%;
									.clmn{
										width:100%;
										background-color:#fff;

										ul{
											padding:1rem 0 1rem 1rem;
											margin:0;
										}
									}
								}
							}
						}
					}

					&:hover{
						& > div.relmenu > a.nav-link{
							color:$lightBlue;
						}

						& > div.absmenu{
							.dd-wrapper{
								max-height:504px;
							}
						}
						& > div.relmenu{
							.dd-wrapper{
								max-height:504px;
							}
						}
					}

					&.menu-advice{}
					&.menu-mums{}

					/* special case with four column menu */
					&.menu-range{
						& > div.absmenu{
							display:none;
							.dd-wrapper{
								max-height:504px;
							}
						}

						& > a.nav-link{
							height:143px;
							line-height:143px;
							padding-left:1rem;
							padding-right:1rem;
						}
							.dd-wrapper{
								position:absolute;
								left:0px;
								top:143px;
								z-index:1000;
								width:100%;
								max-height:0;
								overflow:hidden;
								@include transmaxheight();
							}

							.dd-item{
								padding-bottom:12px;
								background-image:url('/img/common/nav/dropdown-shadow.png');
								background-repeat:repeat-x;
								background-position: left bottom;
							}

							.dd-menu{
								width:100%;
								background-color:rgba(255,255,255,0.9);
								background-color:#fff;
								min-height:200px;
								box-sizing:border-box;
								padding:10px;

								display:flex;
								flex-wrap: wrap;
								flex-direction: row;
								align-items: stretch;

							}

							.thumbnail{
								display:block;
								width:34.8%;
								img{
									width:100%;
								}
							}

							.subnav{
								width:65%;
								box-sizing:border-box;
								padding-left:48px;
								padding-RIGHt:38px;
								display:flex;
								flex-wrap: wrap;
								flex-direction: row;
								align-items: stretch;
								.clmn{
									width:25%;

									&.cl1{
										width:19%;
									}
									&.cl4{
										width:31%;
									}
									h4{
										font-weight:bold;
										font-size:1em;
										margin:0;
										border-bottom:1px solid $lightBlue;
										width:100%;
										line-height:1.6em;
										margin-bottom:0.3em;
									}
									ul{
										margin-left:0;
										padding-right:0.5rem;
										li{
											padding:0 0 0.5em 0;
											a.nav-link{
												font-size:1.1em;
												padding:0;
												height:auto;
												line-height:1.4em;
											}
										}
									}
								}
								.clmn:hover{
									h4{
										
									}
								}
							}

						&:hover,
						&.open{
							.dd-wrapper{
								max-height:504px;
							}
						}
					}

					&.menu-faq{
						& > div.relmenu{
							.dd-wrapper{
								min-width:100%;
							}
						}
					}
				}
			}

		}
	}

	a.nav-link{
		box-sizing:border-box;

		/*padding: 0.5rem 1rem;*/

		font-size:1.2em;
		color:$darkBlue;
		font-weight:800;
		
		&.active,&:hover,&:focus{
			color:$lightBlue;
		}
	}
}
