/*
-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(64, 92, 177, 0)), to(rgba(64,92,177,1)))
*/

.tail{
	width:100%;
	.row{
		margin:0;
		height:870px;
		background-image:url('/img/common/tail/tail2.jpg');
		background-repeat:no-repeat;
		background-position:center bottom;
		background-size:cover;

		.text{
			width:100%;
			padding-top:8.5rem;
			text-align:center;
			overflow:hidden;
			h4{
				width:90%;;
				height:97px;
				text-indent:-9999em;
				overflow:hidden;
				background-image:url('/img/common/tail/numbah-one.png');
				background-repeat:no-repeat;
				background-position:center top;
				background-size:contain;
				margin-left:auto;
				margin-right:auto;
				margin-top:0;
				margin-bottom:1rem;

				@media screen and (min-width:400px){
					&{
						width:316px;
						margin-bottom:1.5rem;
					}
				}
			}
			p{
				padding-left:1.5rem;
				padding-right:1.5rem;
			}
		}
	}
}

/* desktop layout */
@media screen and (min-width:$mobile){
	.tail{
		.row{
			box-sizing:border-box;
			padding-top:40.9%;
			background-image:url('/img/common/tail/tail1.jpg');
			background-repeat:no-repeat;
			background-position:center top;
			background-size:contain;
			position:relative;
			height:auto;

			.text{
				padding-top:0;
				position:absolute;
				left:0px;
				top:0px;
				width:50%;
				height:100%;

			    display: flex;
			    align-items: center;
			    justify-content: center;

			    div{
			    	width:100%;
			    	box-sizing:border-box;
			    	padding:0 2rem;
					h4{
						width:100%;
						max-width:316px;
						height:97px;
						text-indent:-9999em;
						overflow:hidden;
						background-image:url('/img/common/tail/numbah-one.png');
						background-repeat:no-repeat;
						background-position:center top;
						margin-left:auto;
						margin-right:uto;
						margin-bottom:1.5rem;
					}
					p{
						padding-left:0rem;
						padding-right:0rem;
					}
			    }

			}
		}
	}
}
