@charset "UTF-8";

/**
 * @license
 * MyFonts Webfont Build ID 3881111, 2020-03-18T11:35:27-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaLTWXX-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/helvetica/pro-regular/
 * Copyright: Copyright &amp;#x00A9; 2014 Monotype Imaging Inc. All rights reserved.
 * 
 * Webfont: OceanSansMTStd-Bold by Monotype
 * URL: https://www.myfonts.com/fonts/mti/ocean-sans-mt/std-bold/
 * Copyright: Copyright &amp;#x00A9; 1993, 1996, 2002 Adobe Systems Incorporated. All Rights Reserved.
 * 
 * 
 * 
 * © 2020 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */

/* @import url("//hello.myfonts.net/count/3b3897"); */

@font-face {
  src: url("/fonts/helvetica/font.eot");
  font-family: "HelveticaLTWXX-Roman";
  src: url("/fonts/helvetica/font.woff2") format("woff2"), url("/fonts/helvetica/font.woff") format("woff"), url("/fonts/helvetica/font.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/font.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaLTWXX-Bold";
  src: url("/fonts/helvetica-bold/font.woff2") format("woff2"), url("/fonts/helvetica-bold/font.woff") format("woff");
}

@font-face {
  src: url("/fonts/oceansans/font.eot");
  font-family: "OceanSansMTStd-Bold";
  src: url("/fonts/oceansans/font.woff2") format("woff2"), url("/fonts/oceansans/font.woff") format("woff"), url("/fonts/oceansans/font.eot?#iefix") format("embedded-opentype"), url("/fonts/oceansans/font.ttf") format("truetype");
}

/* $bodyHelvetica : helvetica,san-serif; */

.pulse {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  /* background: #fff slick-image-url("ajax-loader.gif") center center no-repeat; */
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("/fonts/slick.eot");
  src: url("/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/fonts/slick.woff") format("woff"), url("/fonts/slick.ttf") format("truetype"), url("/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: #000;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: #000;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #000;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir=rtl] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir=rtl] .slick-next:before {
  content: "\2190";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  margin: 0 12px;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 14px;
  border: 2px solid #d9dade;
  text-indent: -99999em;
  overflow: hidden;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #b3b2b9;
}

@media screen and (min-width: 701px) and (max-width: 960px) {
  .slick-dots {
    bottom: -1.875rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .slick-dots {
    bottom: -3.75rem;
  }
}

/* -------------------------- */

/* cut down bootstrap CSS file from 180kb to 30 kb */

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* CSS resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #efefef;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #1d68a7;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.25rem;
}

h2,
.h2 {
  font-size: 1.8rem;
}

h3,
.h3 {
  font-size: 1.575rem;
}

h4,
.h4 {
  font-size: 1.35rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 0.9rem;
}

/* buttons .btn */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

a.btn.disabled {
  pointer-events: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* main navigation */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    max-height: 143px;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-sm,
.navbar-expand > .container-md,
.navbar-expand > .container-lg,
.navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-sm,
.navbar-expand > .container-md,
.navbar-expand > .container-lg,
.navbar-expand > .container-xl {
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

/* carousel */

.collapse {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.collapse:not(.show) {
  display: none;
}

.collapse.show {
  max-height: 850px;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

/* -------------------------- */

html {
  overflow: hidden;
  height: 100%;
}

body {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* So iOS Safari gets the inertia & rubber-band effect */
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: HelveticaLTWXX-Roman;
}

.boundary {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  position: relative;
}

.HelveticaLTWXX-Roman {
  font-family: HelveticaLTWXX-Roman;
}

.OceanSansMTStd-Bold {
  font-family: OceanSansMTStd-Bold;
}

h1,
h2,
h3,
h4 {
  font-family: OceanSansMTStd-Bold;
  font-weight: normal;
  color: #1c29a7;
}

header.page nav.navbar {
  position: relative;
  background-color: #f4f4f4;
  min-height: 83px;
}

header.page nav.navbar.navbar-expand-lg {
  padding-left: 0;
  padding-right: 0;
}

header.page nav.navbar.navbar-expand-lg .navbar-brand {
  margin-left: 1rem;
}

header.page nav.navbar a.navbar-brand {
  min-height: 83px;
  box-sizing: border-box;
  padding-top: 24px;
}

header.page nav.navbar a.navbar-brand img {
  width: 140px;
}

header.page nav.navbar .navbar-toggler {
  outline: none;
}

header.page nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-size: auto auto;
  width: 53px;
  height: 37px;
  background-image: url("/img/common/nav/mobile-menu-close.png");
}

header.page nav.navbar .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("/img/common/nav/mobile-menu.png");
}

header.page ul.nav {
  margin-right: 0;
  margin-left: auto;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #fff;
}

header.page ul.nav li.nav-item {
  width: 100%;
  margin-bottom: 0.3rem;
}

.thumbnail {
  display: none;
}

.subnav {
  width: 100%;
}

.subnav .clmn {
  padding-top: 0;
}

.subnav .clmn h4 {
  font-family: OceanSansMTStd-Bold;
  font-size: 1.3em;
  text-align: left;
  font-weight: normal;
  color: #00a1e0;
  margin-left: 1rem;
}

.subnav .clmn ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.subnav .clmn ul li a.nav-link {
  font-size: 1.1em;
  padding: 0;
  font-weight: normal;
  color: #666666;
  font-family: HelveticaLTWXX-Roman;
}

.subnav .clmn ul li a.nav-link.active {
  color: #00a1e0;
}

.subnav .clmn ul li a.nav-link:hover {
  color: #00a1e0;
}

a.nav-link {
  font-family: OceanSansMTStd-Bold;
  padding: 0;
  font-size: 1.3em;
  color: #1c29a7;
  font-weight: 800;
}

a.nav-link.active,
a.nav-link:hover,
a.nav-link:focus {
  color: #00a1e0;
}

@media screen and (min-width: 992px) {
  header.page nav.navbar {
    min-height: 143px;
    padding: 0;
  }

  header.page nav.navbar.navbar-expand-lg a.navbar-brand {
    min-height: 0;
    box-sizing: border-box;
    padding-top: 0;
    margin-left: 3rem;
  }

  header.page nav.navbar.navbar-expand-lg a.navbar-brand img {
    width: auto;
  }

  header.page nav.navbar .collapse {
    overflow: visible;
  }

  header.page ul.nav {
    padding: 0;
    background-color: transparent;
    margin-right: 2em;
  }

  header.page ul.nav li.nav-item {
    width: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  header.page ul.nav li.nav-item > div.relmenu > a.nav-link {
    height: 143px;
    line-height: 143px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  header.page ul.nav li.nav-item.has-children {
    /* special case with four column menu */
  }

  header.page ul.nav li.nav-item.has-children:hover .dd-wrapper {
    max-height: 504px;
  }

  header.page ul.nav li.nav-item.has-children.open-dd > a.nav-link {
    color: #00a1e0;
  }

  header.page ul.nav li.nav-item.has-children.open-dd > .dd-wrapper {
    max-height: 504px;
  }

  header.page ul.nav li.nav-item.has-children > div.absmenu {
    position: absolute;
    left: 0px;
    top: 143px;
    width: 100%;
    z-index: 999;
  }

  header.page ul.nav li.nav-item.has-children > div.absmenu > .dd-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  header.page ul.nav li.nav-item.has-children > div.absmenu > .dd-wrapper .dd-item {
    padding-bottom: 12px;
    background-image: url("/img/common/nav/dropdown-shadow.png");
    background-repeat: repeat-x;
    background-position: left bottom;
  }

  header.page ul.nav li.nav-item.has-children > div.absmenu > .dd-wrapper .fullspan {
    width: 100%;
    xbackground-color: rgba(255, 255, 255, 0.9);
    background-color: #fff;
    min-height: 200px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  header.page ul.nav li.nav-item.has-children > div.absmenu > .dd-wrapper .thumbnail {
    display: block;
    width: 34.8%;
  }

  header.page ul.nav li.nav-item.has-children > div.absmenu > .dd-wrapper .thumbnail img {
    width: 100%;
  }

  header.page ul.nav li.nav-item.has-children > div.relmenu {
    position: relative;
    z-index: 1000;
  }

  header.page ul.nav li.nav-item.has-children > div.relmenu .dd-wrapper {
    max-height: 0px;
    overflow: hidden;
    width: auto;
    min-width: 200px;
    position: absolute;
    top: 143px;
    transition: max-height 0.3s ease;
  }

  header.page ul.nav li.nav-item.has-children > div.relmenu .dd-wrapper .dd-menu .thumbnail {
    display: none;
  }

  header.page ul.nav li.nav-item.has-children > div.relmenu .dd-wrapper .dd-menu .subnav {
    width: 100%;
  }

  header.page ul.nav li.nav-item.has-children > div.relmenu .dd-wrapper .dd-menu .subnav .clmn {
    width: 100%;
    background-color: #fff;
  }

  header.page ul.nav li.nav-item.has-children > div.relmenu .dd-wrapper .dd-menu .subnav .clmn ul {
    padding: 1rem 0 1rem 1rem;
    margin: 0;
  }

  header.page ul.nav li.nav-item.has-children:hover > div.relmenu > a.nav-link {
    color: #00a1e0;
  }

  header.page ul.nav li.nav-item.has-children:hover > div.absmenu .dd-wrapper {
    max-height: 504px;
  }

  header.page ul.nav li.nav-item.has-children:hover > div.relmenu .dd-wrapper {
    max-height: 504px;
  }

  header.page ul.nav li.nav-item.has-children.menu-range > div.absmenu {
    display: none;
  }

  header.page ul.nav li.nav-item.has-children.menu-range > div.absmenu .dd-wrapper {
    max-height: 504px;
  }

  header.page ul.nav li.nav-item.has-children.menu-range > a.nav-link {
    height: 143px;
    line-height: 143px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .dd-wrapper {
    position: absolute;
    left: 0px;
    top: 143px;
    z-index: 1000;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .dd-item {
    padding-bottom: 12px;
    background-image: url("/img/common/nav/dropdown-shadow.png");
    background-repeat: repeat-x;
    background-position: left bottom;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .dd-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: #fff;
    min-height: 200px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .thumbnail {
    display: block;
    width: 34.8%;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .thumbnail img {
    width: 100%;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav {
    width: 65%;
    box-sizing: border-box;
    padding-left: 48px;
    padding-RIGHt: 38px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn {
    width: 25%;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn.cl1 {
    width: 19%;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn.cl4 {
    width: 31%;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn h4 {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    border-bottom: 1px solid #00a1e0;
    width: 100%;
    line-height: 1.6em;
    margin-bottom: 0.3em;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn ul {
    margin-left: 0;
    padding-right: 0.5rem;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn ul li {
    padding: 0 0 0.5em 0;
  }

  header.page ul.nav li.nav-item.has-children.menu-range .subnav .clmn ul li a.nav-link {
    font-size: 1.1em;
    padding: 0;
    height: auto;
    line-height: 1.4em;
  }

  header.page ul.nav li.nav-item.has-children.menu-range:hover .dd-wrapper,
  header.page ul.nav li.nav-item.has-children.menu-range.open .dd-wrapper {
    max-height: 504px;
  }

  header.page ul.nav li.nav-item.has-children.menu-faq > div.relmenu .dd-wrapper {
    min-width: 100%;
  }

  a.nav-link {
    box-sizing: border-box;
    /*padding: 0.5rem 1rem;*/
    font-size: 1.2em;
    color: #1c29a7;
    font-weight: 800;
  }

  a.nav-link.active,
  a.nav-link:hover,
  a.nav-link:focus {
    color: #00a1e0;
  }
}

footer.page {
  text-align: center;
  padding: 46px 5% 70px 5%;
  background-color: #efefef;
  box-sizing: border-box;
}

footer.page a.logo {
  display: block;
  margin-bottom: 24px;
}

footer.page a.logo img {
  margin-left: auto;
  margin-right: auto;
}

footer.page nav {
  margin-bottom: 36px;
  display: inline-block;
}

footer.page nav:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}

footer.page nav a {
  border-left: 1px solid #000;
  padding: 0 0.5rem;
  color: #163571;
  display: inline-block;
  float: left;
}

footer.page nav a:first-child {
  border-left: 0;
}

footer.page nav a.active,
footer.page nav a:hover {
  color: #000;
}

footer.page h2 {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

footer.page p {
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 0.8em;
}

.cookie-notice {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.cookie-notice .ch {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: rgba(0, 47, 109, 0.9);
  padding: 1.5rem;
  text-align: left;
}

.cookie-notice .ch .cl,
.cookie-notice .ch .cr {
  width: 100%;
  text-align: center;
}

.cookie-notice .ch h2 {
  color: #fff;
}

.cookie-notice .ch p {
  color: #fff;
}

.cookie-notice .ch p a {
  color: #fff;
  font-weight: 800;
}

.cookie-notice .ch button.btn {
  width: 242px;
  margin-left: auto;
  margin-right: auto;
}

.cookie-notice.visible {
  max-height: 200px;
}

@media screen and (min-width: 768px) {
  .cookie-notice .ch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .cookie-notice .ch .cl {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    text-align: left;
  }

  .cookie-notice .ch .cr {
    width: 242px;
  }
}

.manualVideo {
  width: 100%;
  margin-bottom: 9px;
  position: relative;
  padding-top: 83.3%;
  padding-top: 56.25%;
  overflow: hidden;
}

.manualVideo .loader,
.manualVideo .video,
.manualVideo .overlay,
.manualVideo .frame,
.manualVideo button.play {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.manualVideo .loader,
.manualVideo .video,
.manualVideo .overlay {
  transition: top 0.3s ease;
}

.manualVideo .rel {
  position: relative;
  width: 100%;
  height: 100%;
}

.manualVideo button.play {
  z-index: 200;
  background-color: transparent;
  background-image: url("/img/common/play.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 4rem 4rem;
  border: 0;
  text-indent: -9999em;
}

.manualVideo button.play:hover {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@media screen and (min-width: 480px) {
  .manualVideo button.play {
    background-size: 8rem 8rem;
  }
}

.manualVideo .frame img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%) scale(1);
}

.manualVideo .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
}

.manualVideo .loader div {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #000;
  border-right-color: transparent;
  margin: auto auto;
  -webkit-animation: spinner-border 0.75s linear infinite;
          animation: spinner-border 0.75s linear infinite;
}

.manualVideo .video {
  top: 0%;
  background-color: #000;
  opacity: 0;
}

.manualVideo .video video {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.manualVideo .overlay {
  top: 0%;
  overflow: hidden;
}

.manualVideo .overlay h2 {
  position: absolute;
  left: 0px;
  top: auto;
  bottom: 0.5rem;
  width: 100%;
  height: auto;
  margin: 0;
  z-index: 150;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .manualVideo .overlay h2 {
    top: calc(50% + 4.75rem);
    bottom: auto;
    font-size: 2.5rem;
  }
}

.manualVideo.loading .loader {
  top: 0%;
}

.manualVideo.loading .video,
.manualVideo.loading .overlay {
  top: -100%;
}

.manualVideo.running .overlay {
  top: -100%;
}

.manualVideo.running .video {
  opacity: 1;
}

/* desktop layout */

@media screen and (min-width: 768px) {
  .manualVideo {
    padding-top: 41.6%;
    padding-top: 56.25%;
  }
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

/*
-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(64, 92, 177, 0)), to(rgba(64,92,177,1)))
*/

.tail {
  width: 100%;
}

.tail .row {
  margin: 0;
  height: 870px;
  background-image: url("/img/common/tail/tail2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.tail .row .text {
  width: 100%;
  padding-top: 8.5rem;
  text-align: center;
  overflow: hidden;
}

.tail .row .text h4 {
  width: 90%;
  height: 97px;
  text-indent: -9999em;
  overflow: hidden;
  background-image: url("/img/common/tail/numbah-one.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 400px) {
  .tail .row .text h4 {
    width: 316px;
    margin-bottom: 1.5rem;
  }
}

.tail .row .text p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* desktop layout */

@media screen and (min-width: 768px) {
  .tail .row {
    box-sizing: border-box;
    padding-top: 40.9%;
    background-image: url("/img/common/tail/tail1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    position: relative;
    height: auto;
  }

  .tail .row .text {
    padding-top: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tail .row .text div {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
  }

  .tail .row .text div h4 {
    width: 100%;
    max-width: 316px;
    height: 97px;
    text-indent: -9999em;
    overflow: hidden;
    background-image: url("/img/common/tail/numbah-one.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-left: auto;
    margin-right: uto;
    margin-bottom: 1.5rem;
  }

  .tail .row .text div p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.btn {
  font-family: OceanSansMTStd-Bold;
  padding: 0.75rem 0.95rem;
  border-radius: 8px;
  font-weight: 800;
  vertical-align: middle;
  border: 0;
  text-decoration: none;
  margin: 0 auto;
  width: 238px;
  border-color: #00a1e0;
  border-width: 2px;
  border-style: solid;
  display: block;
}

.btn.left {
  margin-left: 0;
  margin-right: auto;
}

.btn.right {
  margin-left: auto;
  margin-right: 0;
}

.btn.blue {
  color: #fff;
  background-color: #00a1e0;
}

.btn.white {
  color: #00a1e0;
  background-color: #fff;
}

.btn.darkblue {
  color: #fff;
  background-color: #1c29a7;
  border-color: #1c29a7;
}

.btn:hover.blue,
.btn:focus.blue {
  color: #00a1e0;
  background-color: #fff;
}

.btn:hover.white,
.btn:focus.white {
  color: #fff;
  background-color: #00a1e0;
}

.btn:hover.darkblue,
.btn:focus.darkblue {
  color: #1c29a7;
  background-color: #fff;
}

.bannerx {
  position: relative;
  margin-bottom: 9px;
  /* min-height:650px; */
  min-height: 0;
  padding-top: 100%;
}

.bannerx:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
}

.bannerx .frame {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bannerx .frame img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.bannerx .mobile,
.bannerx .desktop {
  position: absolute;
  left: opx;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bannerx .mobile {
  display: block;
}

.bannerx .desktop {
  display: none;
}

.bannerx.biasRight .frame img,
.bannerx.biasLeft .frame img {
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.bannerx > .extra {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 90%;
}

.bannerx > .extra h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.bannerx > .extra p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.bannerx > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bannerx {
    padding-top: 0;
    min-height: 504px;
  }

  .bannerx .mobile {
    display: none;
  }

  .bannerx .desktop {
    display: block;
  }

  .bannerx > h1 {
    font-size: 4rem;
  }

  .bannerx > .extra h1 {
    font-size: 4rem;
  }

  .bannerx.biasRight .frame img {
    left: auto;
    right: 0%;
    transform: translate(0%, -50%);
  }

  .bannerx.biasLeft .frame img {
    left: 0%;
    right: auto;
    transform: translate(0%, -50%);
  }
}

.bannery {
  position: relative;
  padding-top: 88.9%;
  overflow: hidden;
}

.bannery .image {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
}

.bannery > .extra {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 90%;
}

.bannery > .extra h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.bannery > .extra p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bannery {
    padding-top: 0px;
    min-height: 504px;
  }

  .bannery > h1 {
    font-size: 4rem;
  }

  .bannery > .extra h1 {
    font-size: 4rem;
  }
}

#advice-banner,
#links-banner,
#our-range-banner,
#mums-banner,
#pregnancy-banner,
#mums-prevention-banner,
#where-to-buy-banner {
  padding-top: 101.8%;
}

#links-banner > .extra,
#our-range-banner > .extra,
#where-to-buy-banner > .extra {
  top: calc(50% - 1.1rem);
}

@media screen and (min-width: 768px) {
  #links-banner > .extra,
  #our-range-banner > .extra,
  #where-to-buy-banner > .extra {
    top: 30%;
  }
}

@media screen and (min-width: 768px) {
  #advice-banner,
  #links-banner,
  #pregnancy-banner,
  #our-range-banner,
  #mums-banner,
  #mums-prevention-banner,
  #where-to-buy-banner {
    padding-top: 0px;
    min-height: 504px;
  }
}

#causes-banner,
#symptoms-banner,
#treatment-banner,
#prevention-banner,
#faq-banner,
#fourohfour-banner,
#terms-banner,
#cookies-banner,
#privacy-banner,
#sitemap-banner,
#contact-banner,
#professionals-banner {
  padding-top: 88.9%;
}

@media screen and (min-width: 768px) {
  #causes-banner,
  #prevention-banner,
  #symptoms-banner,
  #treatment-banner,
  #faq-banner,
  #fourohfour-banner,
  #terms-banner,
  #cookies-banner,
  #privacy-banner,
  #sitemap-banner,
  #contact-banner,
  #professionals-banner {
    padding-top: 0px;
    min-height: 435px;
  }

  #causes-banner .image .hdxframe,
  #prevention-banner .image .hdxframe,
  #symptoms-banner .image .hdxframe,
  #treatment-banner .image .hdxframe,
  #faq-banner .image .hdxframe,
  #fourohfour-banner .image .hdxframe,
  #terms-banner .image .hdxframe,
  #cookies-banner .image .hdxframe,
  #privacy-banner .image .hdxframe,
  #sitemap-banner .image .hdxframe,
  #contact-banner .image .hdxframe,
  #professionals-banner .image .hdxframe {
    min-height: 435px;
  }
}

.centred {
  text-align: center;
}

.left-align {
  text-align: left;
}

.lightBlue {
  color: #00a1e0;
}

.darkBlue {
  color: #1c29a7;
}

.bigmargins {
  padding-left: 3.25%;
  padding-right: 3.25%;
}

.body {
  padding: 1.5rem 5% 0.5rem 5%;
}

.body.smallH2headings h2.product {
  font-size: 1.2em;
  margin-bottom: 0em;
}

.body.smallBottomMargin {
  padding-bottom: 1.5em;
}

.body h2 {
  color: #1c29a7;
}

.body p,
.body ol,
.body ul,
.body address {
  font-size: 1em;
  margin-bottom: 1em;
  font-family: HelveticaLTWXX-Roman;
}

.body p strong,
.body ol strong,
.body ul strong,
.body address strong {
  font-weight: 700;
  font-family: HelveticaLTWXX-Bold;
}

.body ol li,
.body ul li {
  margin-bottom: 1em;
}

.body h2 {
  font-size: 1.5em;
}

.body h3 {
  font-size: 1.2em;
}

.body.greyText h2,
.body.greyText h3,
.body.greyText h4,
.body.greyText p,
.body.greyText ul,
.body.greyText ol {
  color: #666666;
}

.body.greyText h2.lightBlue,
.body.greyText h3.lightBlue,
.body.greyText h4.lightBlue,
.body.greyText p.lightBlue,
.body.greyText ul.lightBlue,
.body.greyText ol.lightBlue {
  color: #00a1e0;
}

.body.greyText h2.darkBlue,
.body.greyText h3.darkBlue,
.body.greyText h4.darkBlue,
.body.greyText p.darkBlue,
.body.greyText ul.darkBlue,
.body.greyText ol.darkBlue {
  color: #1c29a7;
}

.body ol.nomark {
  list-style-type: none;
  padding-left: 1.5rem;
}

.body address {
  display: block;
  color: #666666;
  font-style: normal;
}

.faqBlock {
  xbackground-color: #00a1e0;
  margin-bottom: 9px;
  box-sizing: border-box;
  padding: 2rem 5% 2rem 5%;
}

.faqBlock h2 {
  width: 100%;
  text-align: center;
}

ul.blueDiscList {
  list-style-type: none;
  padding-left: 0;
}

ul.blueDiscList li {
  text-align: left;
  padding-left: 1.2rem;
  position: relative;
}

ul.blueDiscList li:before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "\2022";
  padding-right: 0.6rem;
  color: #00a1e0;
}

ul.blueDiscList.sizes > li {
  text-align: left;
}

ul.blueDiscList.sizes > li:before {
  content: "-";
  padding-right: 0.3rem;
  color: #00a1e0;
}

.twoColumnGrid {
  width: 100%;
  background-color: #f4f4f4;
  margin-bottom: 9px;
}

.twoColumnGrid:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}

.twoColumnGrid .row {
  margin: 0;
}

.twoColumnGrid .row .clmn {
  width: 100%;
}

.twoColumnGrid .row .clmn.p {
  overflow: hidden;
  position: relative;
  padding-top: 50%;
}

.twoColumnGrid .row .clmn.p img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 100%;
}

.twoColumnGrid .row .clmn.p.top img {
  left: 50%;
  top: 0%;
  bottom: auto;
  transform: translate(-50%, 0%);
}

.twoColumnGrid .row .clmn.t {
  box-sizing: border-box;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twoColumnGrid .row .clmn.t div {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  text-align: center;
}

.twoColumnGrid .row .clmn.t div h3 {
  color: #1c29a7;
}

.twoColumnGrid .row .clmn.t div p {
  font-size: 1em;
  color: #666666;
}

.twoColumnGrid .row .clmn.t div ul {
  width: 75%;
  margin: 0 auto;
}

.threeColumnGrid,
.fourColumnGrid {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.threeColumnGrid .row,
.fourColumnGrid .row {
  margin: 0;
  margin-left: -4px;
  margin-right: -4px;
}

.threeColumnGrid .row .clmn,
.fourColumnGrid .row .clmn {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 9px;
  background-color: #f4f4f4;
  border-width: 0 4px 0 4px;
  border-style: solid;
  border-color: #fff;
}

.threeColumnGrid .row .clmn div,
.fourColumnGrid .row .clmn div {
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0;
}

.threeColumnGrid .row .clmn div .frame,
.fourColumnGrid .row .clmn div .frame {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-bottom: 0.75rem;
}

.threeColumnGrid .row .clmn div h4,
.fourColumnGrid .row .clmn div h4 {
  color: #1c29a7;
}

.threeColumnGrid .row .clmn div p,
.fourColumnGrid .row .clmn div p {
  color: #666666;
  padding: 0 2rem;
}

.threeColumnGrid .row .clmn div a.btn,
.fourColumnGrid .row .clmn div a.btn {
  width: 70%;
  max-width: 238px;
}

.expander {
  margin-bottom: 1em;
}

.expander .header {
  width: 100%;
  border-bottom: 1px solid #efefef;
  padding: 0 0 0.25rem 0;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.expander .header h2 {
  color: #1c29a7;
  position: relative;
  font-size: 1.2em;
  font-family: HelveticaLTWXX-Roman;
}

.expander .header h2:before {
  content: "+";
  color: #00a1e0;
  font-size: 0.8em;
  display: inline-block;
  padding-right: 0.5em;
}

.expander .clipper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expander.open .header h2:before {
  content: "-";
}

.expander.open .clipper {
  max-height: 260px;
}

.expander2 {
  margin-bottom: 1em;
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
}

.expander2 .header {
  width: 100%;
  padding-bottom: 0.5rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #00a1e0;
  margin-bottom: 0.5rem;
}

.expander2 .header .control {
  position: absolute;
  left: 0px;
  top: 0px;
  color: #1c29a7;
  border: 2px solid #1c29a7;
  height: 32px;
  width: 32px;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
}

.expander2 .header .control:before {
  content: "+";
}

.expander2 .header h3 {
  font-size: 1.2em;
  line-height: 2rem;
  font-family: HelveticaLTWXX-Roman;
  margin: 0;
}

.expander2 .clipper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expander2.open .control:before {
  content: "-";
}

.expander2.open .clipper {
  max-height: 100em;
}

/* desktop layout */

@media screen and (min-width: 768px) {
  .twoColumnGrid.alternating .row:nth-child(odd) .p {
    order: 1;
  }

  .twoColumnGrid.alternating .row:nth-child(odd) .t {
    order: 2;
  }

  .twoColumnGrid.alternating .row:nth-child(even) .p {
    order: 2;
  }

  .twoColumnGrid.alternating .row:nth-child(even) .t {
    order: 1;
  }

  .twoColumnGrid .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .twoColumnGrid .row .clmn {
    width: 50%;
  }

  .twoColumnGrid .row .clmn.p {
    overflow: hidden;
    position: relative;
    padding-top: 35%;
  }

  .twoColumnGrid .row .clmn.p img {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .twoColumnGrid .row .clmn.p.top img {
    left: 50%;
    top: 0%;
    bottom: auto;
    transform: translate(-50%, 0%);
  }

  .twoColumnGrid .row .clmn.p.height img {
    width: auto;
    min-height: 100%;
  }

  .twoColumnGrid .row .clmn.p.right img {
    right: 0%;
    left: auto;
    transform: translate(0%, -50%);
  }

  .threeColumnGrid {
    margin-bottom: 9px;
  }

  .threeColumnGrid .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: -9px;
  }

  .threeColumnGrid .row .clmn {
    margin-bottom: 0px;
    padding: 0 3px;
    position: relative;
  }

  .threeColumnGrid .row .clmn div {
    padding: 1.5rem 1.5rem 5rem 1.5rem;
  }

  .threeColumnGrid .row .clmn div .btn {
    position: absolute;
    bottom: 2rem;
    top: auto;
    left: 50%;
    /* margin-left: -121px; */
    transform: translateX(-50%);
  }

  .threeColumnGrid .row .clmn div p {
    padding: 0;
  }

  .threeColumnGrid .row .clmn {
    width: 33.3%;
  }

  .faqBlock {
    padding-left: 15.4%;
    padding-right: 15.4%;
  }

  .body.bigmargins {
    padding-left: 15.4%;
    padding-right: 15.4%;
  }
}

@media screen and (min-width: 768px) {
  .fourColumnGrid {
    margin-bottom: 0;
  }

  .fourColumnGrid .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: -9px;
  }

  .fourColumnGrid .row .clmn {
    margin-bottom: 9px;
    padding: 0 3px;
  }

  .fourColumnGrid .row .clmn div {
    padding: 5rem 1.5rem;
  }

  .fourColumnGrid .row .clmn {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .fourColumnGrid .row .clmn {
    width: 25%;
  }
}

#home-hero .items,
#home_vc .items {
  position: relative;
}

#home-hero .items .row,
#home_vc .items .row {
  margin-left: 0;
  margin-right: 0;
}

#home-hero .items .clmn,
#home_vc .items .clmn {
  padding: 0;
  border-width: 0;
  overflow: hidden;
  margin-bottom: 0;
}

#home-hero .items .clmn.clmn-advice .caption div,
#home_vc .items .clmn.clmn-advice .caption div {
  position: relative;
  top: 0%;
}

@media screen and (min-width: 768px) {
  #home-hero .items .clmn.clmn-advice .caption div,
  #home_vc .items .clmn.clmn-advice .caption div {
    top: -20%;
  }
}

#home-hero .items .box,
#home_vc .items .box {
  overflow: hidden;
  position: relative;
  /*padding-top:39%;*/
  min-height: 0;
  padding-top: 101.8%;
}

#home-hero .items .box img,
#home_vc .items .box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

#home-hero .items .box img.desktop,
#home_vc .items .box img.desktop {
  display: none;
}

#home-hero .items .box img.mobile,
#home_vc .items .box img.mobile {
  display: block;
}

#home-hero .items .box:before,
#home_vc .items .box:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  #home-hero .items .box,
  #home_vc .items .box {
    min-height: 504px;
    padding-top: 0px;
  }

  #home-hero .items .box img.desktop,
  #home_vc .items .box img.desktop {
    display: block;
  }

  #home-hero .items .box img.mobile,
  #home_vc .items .box img.mobile {
    display: none;
  }
}

#home-hero .items .index,
#home_vc .items .index {
  position: absolute;
  left: 50%;
  bottom: 0.5em;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

#home-hero .items .index ul li,
#home_vc .items .index ul li {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  margin: 0 4px;
}

#home-hero .items .index ul li.active,
#home_vc .items .index ul li.active {
  background-color: #1c29a7;
}

#home-hero .items .index.iscontrol ul li,
#home_vc .items .index.iscontrol ul li {
  cursor: pointer;
}

#home-hero .items .control,
#home_vc .items .control {
  position: absolute;
  z-index: 1000;
  top: 0px;
  height: 100%;
  width: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  justify-content: center;
  /* Horizontal center alignment */
  transition: opacity 0.3s ease;
  opacity: 0;
}

#home-hero .items .control:hover,
#home_vc .items .control:hover {
  opacity: 1;
}

#home-hero .items .control div,
#home_vc .items .control div {
  font-size: 4rem;
  color: #fff;
}

#home-hero .items .control.left,
#home_vc .items .control.left {
  left: 0px;
  right: auto;
}

#home-hero .items .control.right,
#home_vc .items .control.right {
  left: auto;
  right: 0px;
}

#home-hero .items .caption,
#home_vc .items .caption {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  justify-content: center;
  /* Horizontal center alignment */
}

#home-hero .items .caption div,
#home_vc .items .caption div {
  width: 100%;
  text-align: center;
  /*
  h2{color:$darkBlue;}
  h3{color:$lightBlue;}
  */
}

#home-hero .items .caption div h2,
#home_vc .items .caption div h2 {
  color: #fff;
  font-size: 1.5em;
}

@media screen and (min-width: 768px) {
  #home-hero .items .caption div h2,
  #home_vc .items .caption div h2 {
    font-size: 1.8em;
  }
}

#home-hero .items .caption div h3,
#home_vc .items .caption div h3 {
  color: #fff;
}

#home-hero .items .caption div .btn,
#home_vc .items .caption div .btn {
  position: static;
  left: auto;
  top: 0px;
  bottom: auto;
  margin-left: auto;
}

#home_vc {
  position: relative;
}

#home_vc .loader {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home_vc .loader div {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #000;
  border-right-color: transparent;
  margin: auto auto;
  -webkit-animation: spinner-border 0.75s linear infinite;
          animation: spinner-border 0.75s linear infinite;
}

#home_vc .items {
  transform: tranlate(0, 0);
  transition: opacity 2s ease;
}

#home_vc .items .control {
  top: 50%;
  margin-top: -2.5rem;
  border-radius: 2.5rem;
  height: 5rem;
  width: 5rem;
  opacity: 0.25;
}

#home_vc .items .control.left {
  left: 2rem;
  right: auto;
}

#home_vc .items .control.right {
  left: auto;
  right: 2rem;
}

#home_vc .clmn {
  padding: 0;
}

#home_vc .clmn article.vcItem {
  padding-top: 56.25%;
  background-color: #000;
  position: relative;
  z-index: 1;
}

#home_vc .clmn article.vcItem.running .overlay {
  top: -100%;
}

#home_vc .clmn article.vcItem video,
#home_vc .clmn article.vcItem .overlay,
#home_vc .clmn article.vcItem button.play {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

#home_vc .clmn article.vcItem video {
  z-index: 5;
  height: auto;
  width: 100%;
  min-width: 100%;
  height: auto;
}

#home_vc .clmn article.vcItem .rel {
  position: relative;
}

#home_vc .clmn article.vcItem .overlay {
  z-index: 10;
  transition: top 0.3s ease;
}

#home_vc .clmn article.vcItem .overlay .frame .rel {
  padding-top: 56.25%;
}

#home_vc .clmn article.vcItem .overlay .frame .rel img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%) scale(1);
}

#home_vc .clmn article.vcItem .overlay h2 {
  position: absolute;
  left: 0px;
  top: auto;
  bottom: 0.5rem;
  width: 100%;
  height: auto;
  margin: 0;
  z-index: 150;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 480px) {
  #home_vc .clmn article.vcItem .overlay h2 {
    top: calc(50% + 4.75rem);
    bottom: auto;
    font-size: 2.5rem;
  }
}

#home_vc .clmn article.vcItem .overlay button.play {
  height: 100%;
  z-index: 200;
  background-color: transparent;
  background-image: url("/img/common/play.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 4rem 4rem;
  border: 0;
  text-indent: -9999em;
}

#home_vc .clmn article.vcItem .overlay button.play:hover {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@media screen and (min-width: 480px) {
  #home_vc .clmn article.vcItem .overlay button.play {
    background-size: 8rem 8rem;
  }
}

#home_vc.loading .items {
  opacity: 0;
}

#home_vc.loading .loader {
  opacity: 1;
}

#home_vc2 {
  margin-bottom: 20px;
  padding: 0 40px;
}

#home_vc2 .slick-dots {
  bottom: -40px;
}

#home_vc2 .slick-dots li button {
  outline: none;
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0;
  border-radius: 8px;
  transition: background-color 0.6s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  margin: 0 4px;
}

#home_vc2 .slick-dots li.slick-active button {
  background-color: #1c29a7;
}

#home_vc2 .row {
  margin-left: -10px;
  margin-right: -10px;
}

#home_vc2 .row .item {
  width: 33.3%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

#home_vc2 .row .item h3 {
  text-align: center;
  margin: 0;
  padding: 1rem 1rem;
  background-color: #00a1e0;
  color: #fff;
  margin-bottom: 6px;
}

#home_vc2 .row .item .videoPlay {
  position: relative;
  z-index: 1;
  padding-top: 100%;
  /* square aspect ratio */
  overflow: hidden;
}

#home_vc2 .row .item .videoPlay a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("/img/icons/play_blue.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25% 25%;
  z-index: 10;
}

#home_vc2 .row .item .videoPlay img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: auto;
  height: 100%;
}

body .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

body .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  align-items: center;
  align-content: center;
  transition: opacity 0.3s ease;
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0;
}

body .modal .modal-dialog {
  display: block;
  width: 90%;
  max-width: 1000px;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

body .modal .modal-dialog .modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

body .modal .modal-dialog .modal-header button {
  border: 0;
  font-size: 2rem;
  line-height: 1rem;
  cursor: pointer;
  background-color: #fff;
}

body .modal .modal-dialog .modal-content {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

body .modal .modal-dialog .modal-content .modal-body video {
  width: 100%;
}

@media screen and (orientation: landscape) and (max-height: 750px) {
  body .modal .modal-dialog {
    display: inline-block;
    align-content: center;
    width: auto;
    margin: 0 auto;
  }

  body .modal .modal-dialog .modal-content .modal-body {
    width: auto;
  }

  body .modal .modal-dialog .modal-content .modal-body video {
    width: auto;
    max-height: 80vh;
    max-width: 100%;
  }
}

body.modal-open {
  overflow: hidden;
}

body.modal-open .modal {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
}

body.modal-open .modal-backdrop {
  opacity: 0.5;
}

.product {
  width: 100%;
}

.product .image {
  box-sizing: border-box;
  padding: 0.5rem;
}

.product .image img {
  width: 100%;
}

.product .image.pharmacy .frame {
  position: relative;
}

.product .image.pharmacy .frame .phicon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  width: 57px;
  height: 57px;
  background-image: url("/img/icons/pharmacy2.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.product .details {
  padding: 2rem 0rem;
}

.product .details .cpy {
  text-align: left;
  box-sizing: border-box;
  padding: 0rem 3rem 0rem 3rem;
}

.product .details h1 {
  text-align: center;
}

.product .details h2 {
  font-size: 1em;
  color: #1c29a7;
  font-family: HelveticaLTWXX-Roman;
}

.product .details ul {
  list-style-type: none;
  padding-left: 0;
}

.product .details ul li {
  text-align: left;
}

.product .details ul li:before {
  content: "\2022";
  padding-right: 0.6rem;
  color: #00a1e0;
}

.product .details ul.sizes > li:before {
  content: "-";
  padding-right: 0.3rem;
  color: #00a1e0;
}

.product .details a.download {
  display: block;
  margin-bottom: 1rem;
}

.product .details .buy {
  display: flex;
  justify-content: center;
}

.product .details .pharmacy {
  background-color: #e5f6f7;
  background-image: url("/img/icons/pharmacy.png");
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 84px;
  margin: 0rem 0rem 1rem 0rem;
}

.product .details .pharmacy h2 {
  color: #01a5b3;
  font-family: OceanSansMTStd-Bold;
}

.product .details .pharmacy p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .product .image {
    flex-basis: 33.3%;
  }

  .product .details {
    flex-basis: 66.6%;
  }

  .product .image {
    padding: 0.5rem 0 0.5rem 0;
  }
}

@media screen and (min-width: 992px) {
  .product .image,
  .product .details {
    flex-grow: 1;
    flex-basis: 0;
    width: 50%;
  }
}

.items {
  overflow: hidden;
}

.items .row {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items .clmn {
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 6rem;
  opacity: 1;
  margin-right: 0;
  width: 100%;
  background-color: #f4f4f4;
  margin-bottom: 9px;
  position: relative;
}

.items .box {
  text-align: center;
}

.items a.fh {
  position: relative;
  padding-top: 280px;
  display: block;
  width: 100%;
}

.items a.fh img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-36%, -50%);
}

.items a.fh.wide img {
  width: 80%;
  transform: translate(-50%, -50%);
}

.items h3 {
  font-size: 1.2em;
  color: #1c29a7;
}

.items .btn {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -121px;
}

@media screen and (min-width: 480px) {
  .items a.fh.wide img {
    width: auto;
  }
}

@media screen and (min-width: 920px) {
  .items .row {
    margin-left: -5px;
    margin-right: -5px;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .items .clmn {
    border-width: 0 4px 0 4px;
    border-style: solid;
    border-color: #fff;
    background-color: #f4f4f4;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 262px;
  }

  .items a.fh.wide img {
    width: 100%;
  }
}

@media screen and (min-width: 920px) {
  #range-wipes .items {
    width: 75%;
    margin: 0 auto;
  }
}

.relatedItems {
  background-color: #fff;
  margin-bottom: 0;
}

.relatedItems .body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 920px) {
  .relatedItems .limiter {
    width: 100%;
    background-color: #fff;
  }
}

.rangeblock {
  background-color: #f4f4f4;
  padding-bottom: 0.5rem;
  margin-bottom: 9px;
  width: 100%;
  overflow: hidden;
}

.rangeblock .body {
  padding-top: 2rem;
  padding-bottom: 0rem;
}

@media screen and (min-width: 920px) {
  .rangeblock .items .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .rangeblock .items .clmn {
    border-width: 0px;
  }
}

.inca .row {
  display: block;
}

.inca .row:after {
  content: "";
  clear: both;
  float: none;
  display: block;
}

.inca .clmn {
  width: 100%;
  position: relative;
  left: 0%;
  margin-right: -100%;
  opacity: 0;
  float: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.inca .clmn.active {
  left: 0%;
  opacity: 1;
}

.inca a.fh.wide img {
  width: 100%;
  max-width: 303px;
}

.inca .index {
  display: block;
}

.inca .index ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inca .index ul li {
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0;
  border-radius: 8px;
  margin: 0 10px;
  transition: background-color 0.6s ease;
  background-color: #00a1e0;
}

.inca .index ul li.active {
  background-color: #1c29a7;
}

@media screen and (min-width: 920px) {
  .inca .row {
    display: block;
  }

  .inca .clmn {
    margin-right: -100%;
    opacity: 0;
  }

  .inca .clmn.active {
    left: 0%;
    opacity: 1;
  }

  .inca .index {
    display: block;
  }
}

@media screen and (min-width: 920px) {
  .switch .row {
    display: flex;
  }

  .switch .clmn {
    margin-right: 0%;
    left: 0%;
    opacity: 1;
  }

  .switch .index {
    display: none;
  }
}

.retailGrid2 h2 {
  text-align: center;
  margin-bottom: 1.2em;
}

.retailGrid2 .grid {
  width: 96.75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.retailGrid2 .grid .cell {
  flex-basis: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
  border-width: 0 4px 0px 4px;
  border-style: solid;
  border-color: #fff;
  margin-bottom: 8px;
  width: 100%;
}

.retailGrid2 .grid .cell .box {
  padding-bottom: 3em;
}

.retailGrid2 .grid .cell .box a.logolink {
  display: block;
  width: 100%;
  height: 150px;
  position: relative;
}

.retailGrid2 .grid .cell .box a.logolink img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 36px;
}

.retailGrid2 .grid .cell .box p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .retailGrid2 .grid {
    width: 71.2%;
  }

  .retailGrid2 .grid .cell {
    flex-basis: 50%;
  }
}

.retailGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  width: 96.75%;
}

.retailGrid .cell {
  flex-basis: 100%;
  padding-top: 60%;
  position: relative;
  background-color: #f4f4f4;
  border-width: 0 4px 0 4px;
  border-style: solid;
  border-color: #fff;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*
  &:hover{
  	img{
  		transform: translate(-50%,-50%)  scale(1.05);
  	}

  }
  */
}

.retailGrid .cell img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  /* @include transTransform(); */
}

@media screen and (min-width: 480px) {
  .retailGrid .cell {
    flex-basis: 50%;
    padding-top: 50%;
  }
}

@media screen and (min-width: 640px) {
  .retailGrid {
    width: 71.2%;
  }

  .retailGrid .cell {
    flex-basis: 33.3%;
    padding-top: 33.3%;
  }
}

/*	
#advice-banner{
	background-image:url('/img/advice/index/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/index/banner.jpg');
		}
	}
}

#causes-banner{
	background-image:url('/img/advice/causes/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/causes/banner.jpg');
		}
	}
}

#symptoms-banner{
	background-image:url('/img/advice/symptoms/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/symptoms/banner.jpg');
		}
	}
}

#treatment-banner{
	background-image:url('/img/advice/treatment/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/treatment/banner.jpg');
		}
	}
}

#prevention-banner{
	background-image:url('/img/advice/prevention/banner-mobile.jpg');
	@media screen and (min-width:830px){
		&{
			background-image:url('/img/advice/prevention/banner.jpg');
		}
	}
}
*/

.btn.view-range {
  margin-bottom: 1.5em;
  width: 270px;
}

.pregnancyResources {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  width: 96.75%;
}

.pregnancyResources .cell {
  flex-basis: 100%;
  padding-top: 60%;
  position: relative;
  background-color: #f4f4f4;
  border-width: 0 4px 0 4px;
  border-style: solid;
  border-color: #fff;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*
  &:hover{
  	img{
  		transform: translate(-50%,-50%)  scale(1.05);
  	}

  }
  */
}

.pregnancyResources .cell img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  /* @include transTransform(); */
}

@media screen and (min-width: 480px) {
  .pregnancyResources .cell {
    flex-basis: 100%;
    padding-top: 0%;
  }

  .pregnancyResources .cell img {
    position: static;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
  }
}

@media screen and (min-width: 640px) {
  .pregnancyResources {
    width: 71.2%;
  }

  .pregnancyResources .cell {
    flex-basis: 33.3%;
    padding-top: 33.3%;
  }
}

@media screen and (min-width: 768px) {
  .pregnancyResources .cell {
    flex-basis: 33.3%;
    padding-top: 33.3%;
  }

  .pregnancyResources .cell img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn.wide {
  margin-bottom: 1.5em;
  width: 270px;
}

#links-banner h1 {
  top: calc(50% - 1.1rem);
}

@media screen and (min-width: 768px) {
  #links-banner h1 {
    top: 30%;
  }
}

.faqBlock .expander2 ul li {
  margin-bottom: 0.2em;
}

.faqBlock .expander2 ul.dashList {
  list-style-type: none;
  padding-left: 0;
}

.faqBlock .expander2 ul.dashList li {
  text-align: left;
  padding-left: 1.2rem;
  position: relative;
}

.faqBlock .expander2 ul.dashList li:before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "-";
  padding-right: 0.6rem;
}

.extraQuestion > .header {
  cursor: pointer;
}

.extraQuestion > .header h3 span {
  display: none;
}

.extraQuestion > .header h3 span.open {
  display: inline-block;
}

.extraQuestion > .content > .clipper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.extraQuestion.open > .header h3 span {
  display: inline-block;
}

.extraQuestion.open > .header h3 span.open {
  display: none;
}

.extraQuestion.open > .content > .clipper {
  max-height: 200em;
}

.retailGrid.helpful-links {
  width: 95%;
}

@media screen and (min-width: 640px) {
  .retailGrid.helpful-links {
    width: 80%;
  }

  .retailGrid.helpful-links .cell {
    flex-basis: 33.3%;
    padding-top: 33.3%;
  }

  .retailGrid.helpful-links .cell img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 992px) {
  .retailGrid.helpful-links {
    width: 780px;
  }
}

.sitemap {
  list-style-type: none;
  padding-left: 0;
}

.sitemap > li.has-children h4 {
  font-family: HelveticaLTWXX-Roman;
  font-size: 1em;
  margin-left: 1rem;
  margin-bottom: 0;
}

.sitemap > li.has-children ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 1rem;
}

.sitemap > li.has-children ul > li {
  padding-left: 1rem;
  margin-bottom: 0;
}

.sitemap a.nav-link {
  height: auto;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  color: #666666;
  padding-left: 0;
  font-family: HelveticaLTWXX-Roman;
}

.sitemap a.nav-link:hover {
  text-decoration: underline;
  color: #00a1e0;
}

.sitemap .nav-item > a.nav-link {
  color: #1c29a7;
}

.sitemap .has-children > h4 {
  color: #00a1e0;
}

address {
  font-style: italic;
}

ul.linkList li {
  margin-bottom: 0.5rem;
}

.hdx {
  width: 100%;
  transition: all 0.3s ease;
}

.hdx.loading {
  opacity: 0;
}

.hdx .hdxframe {
  width: 100%;
  position: relative;
}

.hdx .hdxframe img {
  width: 100%;
}

.hdx .hdxframe:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .hdx .hdxframe {
    overflow: hidden;
    position: relative;
    padding-top: 0;
    min-height: 504px;
  }

  .hdx .hdxframe img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hdx .hdxframe img.lb {
    left: 0%;
    transform: translate(0%, -50%);
  }

  .hdx .hdxframe img.rb {
    right: 0;
    left: auto;
    transform: translate(0%, -50%);
  }
}

a.underline {
  text-decoration: underline;
}

